<bds-mobile-left-menu></bds-mobile-left-menu>
<bds-mobile-filter mode="msc.viewMode" search-data="$root.searchData"></bds-mobile-filter>
<bds-mobile-header ></bds-mobile-header>

<div class="wapper">
    <div class="manager">
        <ul class="nav nav-tabs nav-tabs-3" role="tablist">
            <li role="presentation" class="active"><a id="daLuu" href="#managerSaved" aria-controls="managerSaved" role="tab" data-toggle="tab">Đã lưu</a></li>
            <li role="presentation"><a href="#managerSale" id="banId" aria-controls="managerSale" role="tab" data-toggle="tab">Bán</a></li>
            <li role="presentation"><a href="#managerRent" id="muaId" aria-controls="managerRent" role="tab" data-toggle="tab">Cho thuê</a></li>
        </ul>
        <div class="tab-content uln" id="tabContentUln">
            <div role="tabpanel" class="tab-pane active" id="managerSaved">
                <ul class="reland-list full">
                    <li ng-repeat="ads in mamc.adsLikes track by $index" ng-click="mamc.goDetail(ads)">
                        <a class="heart"><i class="icon-heart active" ng-click="mamc.unlikeAds(ads)"></i></a>
                        <a >
                            <span class="img" style="background-image:url({{ads.image.cover}})"></span>
								<span class="des bgOpa">
									<span class="price">{{ads.giaFmt}}</span>
									<span class="name">{{ ads.diaChi | limitTo: 25 }}</span>
									<span class="split text-center">.</span>
									<span>{{ads.soPhongNguFmt}}</span>
									<span class="{{ads.soTangFmt? 'split':''}}"></span>
									<span>{{ads.soTangFmt? ads.soTangFmt:''}}</span>
								</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div role="tabpanel" class="tab-pane" id="managerSale">
                <ul class="reland-list full">
                    <li ng-repeat="ads in mamc.adsSales track by $index">
                        <a href="#"  ng-click="mamc.goDetail(ads)" ><span class="img" style="background-image:url({{ads.image.cover}})"></span></a>
                        <span class="des bgOpa">
                            <span class="price">{{ads.giaFmt}}</span>
                            <span class="name">{{ ads.diaChi | limitTo: 25 }}{{ads.diaChi > 25 ? '...' : ''}}</span>
                            <span>{{ads.soPhongNguFmt}}</span>
                            <span class="{{ads.soTangFmt? 'split':''}}"></span>
                            <span>{{ads.soTangFmt? ads.soTangFmt:''}}</span>
                        </span>
                        <span class="action">
                            <span class="status danger">Tin đã duyệt</span>
                            <a href="#" class="btn btn-danger"><i class="fa fa-arrow-circle-up"></i> Nâng cấp tin</a>
                            <span class="lined"><a href="#" ng-click="mamc.updateAds(ads)" class="btn btn-danger"><i class="fa fa-arrow-circle-up"></i> Sửa tin</a></span>
                            <span class="lined"><a href="#" ng-click="mamc.deleteAds(ads,0)" class="btn btn-danger"><i class="fa fa-arrow-circle-up"></i> Xóa tin</a></span>
                        </span>
                    </li>
                </ul>
            </div>
            <div role="tabpanel" class="tab-pane" id="managerRent">
                <ul class="reland-list full">
                    <li ng-repeat="ads in mamc.adsRents track by $index">
                        <a ng-click="mamc.goDetail(ads)"><span class="img" style="background-image:url({{ads.image.cover}})"></span></a>
                        <span class="des bgOpa">
                            <span class="price">{{ads.giaFmt}}</small></span>
                            <span class="name">{{ ads.diaChi | limitTo: 25 }}{{ads.diaChi > 25 ? '...' : ''}}</span>
                            <span>{{ads.soPhongNguFmt}}</span>
                            <span class="{{ads.soTangFmt? 'split':''}}"></span>
                            <span>{{ads.soTangFmt? ads.soTangFmt:''}}</span>
                        </span>
                        <span class="action">
                            <span class="status danger">Tin đã duyệt</span>
                            <a href="nang-cap-tin.html" class="btn btn-danger"><i class="fa fa-arrow-circle-up"></i> Nâng cấp tin</a>
                            <span class="lined"><a href="#" ng-click="mamc.updateAds(ads)" class="btn btn-danger"><i class="fa fa-arrow-circle-up"></i> Sửa tin</a></span>
                            <span class="lined"><a href="#" ng-click="mamc.deleteAds(ads,0)" class="btn btn-danger"><i class="fa fa-arrow-circle-up"></i> Xóa tin</a></span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="overlay"></div>
<script src="/web/mobile/js/javascript.min.js"></script>