<bds-mobile-left-menu></bds-mobile-left-menu>
<bds-mobile-filter mode="msc.viewMode" search-data="$root.searchData"></bds-mobile-filter>
<bds-mobile-header ></bds-mobile-header>

<div class="wapper">
    <div class="chats">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#chatsAll" aria-controls="chatsAll" role="tab" data-toggle="tab">Tất cả</a></li>
            <li role="presentation"><a href="#chatsSale" aria-controls="chatsSale" role="tab" data-toggle="tab">Bán</a></li>
            <li role="presentation"><a href="#chatsRent" aria-controls="chatsRent" role="tab" data-toggle="tab">Cho thuê</a></li>
        </ul>
        <div class="tab-content uln">
            <div role="tabpanel" class="tab-pane active" id="chatsAll">
                <ul>
                    <li class="reland">
                        <a href="#" class="avatar pull-left"><img src="/web/mobile/img/reland-icon.jpg" class="img-circle" alt="" title="" /></a>
                        <div class="ovh">
                            <div class="ovh">
                                <span class="name">Reland</span>
                            </div>
                            <div class="ovh">
                                <div class="ovh">
                                    <h5><a href="#">Chat trực tiếp với quản lý</a></h5>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li ng-repeat="inbox in mcc.allInbox track by $index">
                        <a href="#" ng-click="mcc.openChatDetail(inbox)" class="avatar pull-left"><img src={{inbox.partner.avatar?inbox.partner.avatar:"/web/mobile/img/avatar.png"}} class="img-circle" alt="" title="" /><span ng-if="inbox.unreadCount" class="badge warning">{{inbox.unreadCount}}</span></a>
                        <div class="ovh" ng-click="mcc.openChatDetail(inbox)">
                            <div class="ovh">
                                <span class="name">{{inbox.partner.fullName}}</span>
                                <span class="date pull-right">{{inbox.lastDate}}</span>
                            </div>
                            <div class="ovh">
                                <a href="#"><img src="{{inbox.relatedToAds.cover}}" alt="" title="" class="pull-right reland-img" /></a>
                                <div class="ovh">
                                    <h5><a href="#">{{inbox.relatedToAds.dienTichFmt + '-' + inbox.relatedToAds.loaiNhaDatFmt}}</a></h5>
                                    <span class="cmm">{{inbox.lastMsg}}</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="text-center ovh txtGray">Tất cả đã được hiển thị</div>
            </div>
            <div role="tabpanel" class="tab-pane" id="chatsSale">
                <ul>
                    <li ng-repeat="inbox in mcc.allSaleInbox track by $index">
                        <a href="#" ng-click="mcc.openChatDetail(inbox)" class="avatar pull-left"><img src={{inbox.partner.avatar?inbox.partner.avatar:"/web/mobile/img/avatar.png"}} class="img-circle" alt="" title="" /><span ng-if="inbox.unreadCount" class="badge warning">{{inbox.unreadCount}}</span></a>
                        <div class="ovh" ng-click="mcc.openChatDetail(inbox)">
                            <div class="ovh">
                                <span class="name">{{inbox.partner.fullName}}</span>
                                <span class="date pull-right">{{inbox.lastDate}}</span>
                            </div>
                            <div class="ovh">
                                <a href="#"><img src="{{inbox.relatedToAds.cover}}" alt="" title="" class="pull-right reland-img" /></a>
                                <div class="ovh">
                                    <h5><a href="#">{{inbox.relatedToAds.dienTichFmt + '-' + inbox.relatedToAds.loaiNhaDatFmt}}</a></h5>
                                    <span class="cmm">{{inbox.lastMsg}}</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="text-center ovh txtGray">Tất cả đã được hiển thị</div>
            </div>
            <div role="tabpanel" class="tab-pane" id="chatsRent">
                <ul>
                    <li ng-repeat="inbox in mcc.allRentInbox track by $index">
                        <a href="#" ng-click="mcc.openChatDetail(inbox)" class="avatar pull-left"><img src={{inbox.partner.avatar?inbox.partner.avatar:"/web/mobile/img/avatar.png"}} class="img-circle" alt="" title="" /><span ng-if="inbox.unreadCount" class="badge warning">{{inbox.unreadCount}}</span></a>
                        <div class="ovh">
                            <div class="ovh">
                                <span class="name">{{inbox.partner.fullName}}</span>
                                <span class="date pull-right">{{inbox.lastDate}}</span>
                            </div>
                            <div class="ovh">
                                <a href="#" ng-click="mcc.openChatDetail(inbox)"><img src="{{inbox.relatedToAds.cover}}" alt="" title="" class="pull-right reland-img" /></a>
                                <div class="ovh">
                                    <h5><a href="#" ng-click="mcc.openChatDetail(inbox)">{{inbox.relatedToAds.dienTichFmt + '-' + inbox.relatedToAds.loaiNhaDatFmt}}</a></h5>
                                    <span class="cmm">{{inbox.lastMsg}}</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="text-center ovh txtGray">Tất cả đã được hiển thị</div>
            </div>
        </div>
    </div>
</div>

<script src="/web/mobile/js/javascript.min.js"></script>