<header class="main blue">
    <a href="#" ng-click="mcdc.goBack()" class="header-icon"><i class="iconLeftOpen"></i></a>
    <span class="name">Tran Anh <br><small>Trực tuyến 30 phút trước</small></span>
    <div class="btn-group pull-right" role="group">
        <a role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="header-icon"><img src="/web/mobile/img/dots-three-horizontal.svg" width="26" /></a>
        <ul class="dropdown-menu">
            <li><a role="button" data-toggle="modal" data-target="#blockuserBox">Chặn người dùng này</a></li>
            <li><a role="button" data-toggle="modal" data-target="#deluserBox">Xóa hội thoại</a></li>
        </ul>
    </div>
</header>
<div class="wapper"  >
    <div class="chat-detail" >
        <div class="chat-header ovh">
            <a href="#"><img src="{{mcdc.ads.image.cover}}" alt="" title="" class="pull-left" /></a>
            <div class="ovh">
                <h5><a href="#">{{mcdc.ads.place.diaChinhFullName}}</a></h5>
                <span class="price">{{mcdc.ads.giaFmt}}</span>
            </div>
        </div>
        <div class="chat-list uln" id="chatDetailId">
            <ul>
                <li ng-repeat="msg in chatBox.messages track by $index" class={{mcdc.isMe(msg.fromUserID)?"me":"other"}}>
                    <img ng-if="!mcdc.isMe(msg.fromUserID)" src={{msg.user.avatar?msg.user.avatar:"/web/mobile/img/avatar.png"}} class="img-circle avatar pull-left">
                    <div class="ovh">
                        <span class="datetime">{{msg.timeStamp}}</span>
                        <div class="cmm" ng-if="msg.msgType==1">{{msg.content}}</div>
                    </div>
                    <div class="item" ng-show="msg.msgType==2 || msg.msgType==3">
                        <div>
                            <div ng-class="{'attachment-icon-right' : mcdc.isMe(msg.fromUserID), 'attachment-icon-left' : !mcdc.isMe(msg.fromUserID)}">
                                <a ng-href="{{msg.content}}">
                                    <img  ng-if="msg.msgType==2" ng-class="{'multiple-borders-white' : mcdc.isMe(msg.fromUserID),'multiple-borders-black' : !mcdc.isMe(msg.fromUserID)}" width="90" height="70" ng-src="{{msg.content}}" alt="Image File"> <!-- Image -->
                                    <span ng-if="msg.msgType==3">Document</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div ng-class="{'attachment-msg-right' : mcdc.isMe(msg.fromUserID), 'attachment-msg-left' : !mcdc.isMe(msg.fromUserID)}" ng-if="msg.msgType==2 || msg.msgType==3">
                        <span class="decs-text">
                            <a class="decs-text" ng-show="!mcdc.isMe(msg.fromUserID)" download target="_self" href="{{msg.content}}" ><i>Tải về</i> <i class="fa fa-download dw-icon"></i></a>
                            <a class="decs-text hidden-link" href="{{ msg.content }}"  download="{{msg.content }}"></a>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="chat-footer">
            <form method="post" ng-submit="mcdc.sendMsg();">
                <textarea id="msgTxtId" ng-model="mcdc.chatMsg"  ng-keydown="chatKeypress($event)" ng-blur="chatBlur($event)" placeholder="Nhập tin nhắn"></textarea>
                <div class="action">
                    <a href="javascript:void(0)" class="active"  onClick="showhide('.list-sort');"><i class="fa fa-commenting-o"></i></a>
                    <a href="javascript:void(0)" ><i class="iconCamera"></i></a>
                    <a ngf-select="uploadFiles($files)" multiple accept="image/*" class="active"><i class="fa fa-picture-o"></i></a>
                    <a href="javascript:void(0)" class="active"><i class="iconLocation"></i></a>
                    <div class="list-sort popovers top uln">
                        <ul>
                            <li ng-repeat="sts in sampleSentences track by $index"><a href="#" ng-click="mcdc.chonMauCau(sts.lable)">{{sts.lable}}</a></li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>