<bds-mobile-left-menu></bds-mobile-left-menu>
<bds-mobile-filter search-data="$root.searchData"></bds-mobile-filter>
<!-- <bds-mobile-header></bds-mobile-header> -->
<bds-mobile-header act="$root.act"></bds-mobile-header>
<div class="wapper" ng-if="$root.currentLocation">
	<div class="reland-box reland-box_1 uln" ng-repeat="bst in mhc.boSuuTap track by $index" reland-item="reland-box_1">
        <div class="reland-title">
            <h4>Bộ sưu tập</h4>
            <h3>{{bst.title1}}</h3>
            <h5>{{bst.title2}}</h5>
        </div>
        <ul class="reland-list full-3">
        	<li ng-repeat="ads in bst.data" ng-click="mhc.goDetail(ads)">
            	<a href="" class="heart" ng-click="mhc.likeAds($event,ads.adsID)"><i ng-class="$root.alreadyLike(ads.adsID) ==  true?'icon-heart active':'icon-heart'"></i></a>
            	<a href="#">
                	<span class="img" style="background-image:url({{ads.cover}})"></span>
                    <span class="des bgOpa">
                    	<span class="price">{{ads.giaFmt}}</span>
                        <span class="name">{{ads.khuVuc | limitTo: 30}}</span>
                        <span>{{ads.dienTichFmt}}</span>
                        <span ng-if="ads.soPhongNguFmt">{{ads.soPhongNguFmt}}</span>
                        <span class="split"></span>
                        <span ng-if="ads.soPhongTamFmt">{{ads.soPhongTamFmt}}</span>
                    </span>
                </a>
            </li>
        </ul>
        <div class="clb ovh"></div>
        <div class="btn-box" ng-click="mhc.showMore($index)"><button class="btn btn-primary btn-block">Xem thêm</button></div>
    </div>
    <!--END-->
</div>
<div ng-if="mhc.showAskCurrentLocation">
    <span>Hãy cho chúng tôi sử dụng vị trí hiện tại của bạn hoặc hãy thực hiện lệnh tìm kiếm để chúng tôi có thể gợi ý những nhà phù hợp với bạn.</span>
</div>
<div class="loadingBox text-center" ng-show="mhc.doneSearch!=true"><img src="/web/mobile/img/loading_spinner.gif" width="60"></div>
<div class="bottom clb ovh uln" style="display: none;" ng-show="mhc.boSuuTap && mhc.boSuuTap.length>0">
	<div class="app" >
    	<h5>Reland App (IOS/Android)</h5>
        <ul>
            <li><a href="/"><i class="iconHome gray"></i> Reland App</a></li>
        </ul>
    </div>
	<div class="copyright">
    	<p>
        	<a href="#">Phiên bản Desktop</a> | 
            <a href="#">Câu hỏi thường gặp</a> | 
            <a href="#">Điểu khoản sử dụng</a>
        </p>
        <p class="mtm">Copyright © 2016 Reland Inc., All Rights Reserved.</p>
    </div>
</div>
<!--<footer class="main border uln">
    <ul class="navmain">
    	<li><a href="#" class="active"><i class="iconHome"></i> Trang chủ</a></li>
        <li><a href="#"><i class="iconChat"></i> Chat</a></li>
        <li><a href="#"><i class="iconCamera"></i> Đăng tin</a></li>
        <li><a href="#"><i class="fa fa-sliders"></i> Quản lý</a></li>
        <li><a href="#"><i class="iconUser"></i> Tôi</a></li>
    </ul>
</footer>-->
<div class="overlay"></div>


<script src="/web/mobile/js/javascript.min.js"></script>