<bds-mobile-left-menu></bds-mobile-left-menu>
<bds-mobile-filter></bds-mobile-filter>
<header class="main blue">
    <a href="javascript:void(0)" class="nav_mobile header-icon"><i class="iconMenu"></i></a>
    <span>Trang chủ</span>
    <a href="javascript:void(0)" class="search_mobile header-icon"><i class="iconSearch"></i></a>
</header>
<div class="reland-title fixed">
	<h4></h4>
    <h3></h3>
    <h5></h5>
</div>
<div class="wapper">
	<div class="reland-box reland-box_1 uln" ng-repeat="bst in mhc.boSuuTap track by $index" reland-item="reland-box_1">
    	<div class="reland-title">
            <h4>Bộ sưu tập</h4>
            <h3>{{bst.title1}}</h3>
            <h5>{{bst.title2}}</h5>
        </div>
        <ul class="reland-list full-3">
        	<li ng-repeat="ads in bst.data">
            	<a href="#" class="heart"><i class="icon-heart"></i></a>
            	<a href="#">
                	<span class="img" style="background-image:url({{ads.cover}})"></span>
                    <span class="des bgOpa">
                    	<span class="price">{{ads.giaFmt}}</span>
                        <span class="name">{{ads.khuVuc}}</span>
                        <span>5pn</span>
                        <span class="split"></span>
                        <span>4pt</span>
                    </span>
                </a>
            </li>
            <li>
            	<a href="#" class="heart"><i class="icon-heart"></i></a>
            	<a href="#">
                	<span class="img" style="background-image:url(/web/mobile/images/big.jpg)"></span>
                    <span class="des bgOpa">
                    	<span class="price">10,5 Ty</span>
                        <span class="name">KDT Xa La</span>
                        <span>5pn</span>
                        <span class="split"></span>
                        <span>4pt</span>
                    </span>
                </a>
            </li>
            <li>
            	<a href="#" class="heart"><i class="icon-heart"></i></a>
            	<a href="#">
                	<span class="img" style="background-image:url(/web/mobile/images/big.jpg)"></span>
                    <span class="des bgOpa">
                    	<span class="price">10,5 Ty</span>
                        <span class="name">KDT Xa La</span>
                        <span>5pn</span>
                        <span class="split"></span>
                        <span>4pt</span>
                    </span>
                </a>
            </li>
            <li>
            	<a href="#" class="heart"><i class="icon-heart"></i></a>
            	<a href="#">
                	<span class="img" style="background-image:url(/web/mobile/images/big.jpg)"></span>
                    <span class="des bgOpa">
                    	<span class="price">10,5 Ty</span>
                        <span class="name">KDT Xa La</span>
                        <span>5pn</span>
                        <span class="split"></span>
                        <span>4pt</span>
                    </span>
                </a>
            </li>
            <li>
            	<a href="#" class="heart"><i class="icon-heart"></i></a>
            	<a href="#">
                	<span class="img" style="background-image:url(/web/mobile/images/big.jpg)"></span>
                    <span class="des bgOpa">
                    	<span class="price">10,5 Ty</span>
                        <span class="name">KDT Xa La</span>
                        <span>5pn</span>
                        <span class="split"></span>
                        <span>4pt</span>
                    </span>
                </a>
            </li>
        </ul>
        <div class="clb ovh"></div>
        <div class="btn-box"><button class="btn btn-primary btn-block">Xem thêm</button></div>
    </div>
    <!--END-->
</div>
<div class="bottom clb ovh uln">
	<div class="app">
    	<h5>Reland App (IOS/Android)</h5>
        <ul>
            <li><a href="/"><i class="iconHome gray"></i> Reland App</a></li>
        </ul>
    </div>
	<div class="copyright">
    	<p>
        	<a href="#">Phiên bản Desktop</a> | 
            <a href="#">Câu hỏi thường gặp</a> | 
            <a href="#">Điểu khoản sử dụng</a>
        </p>
        <p class="mtm">Copyright © 2016 Reland Inc., All Rights Reserved.</p>
    </div>
</div>
<!--<footer class="main border uln">
    <ul class="navmain">
    	<li><a href="#" class="active"><i class="iconHome"></i> Trang chủ</a></li>
        <li><a href="#"><i class="iconChat"></i> Chat</a></li>
        <li><a href="#"><i class="iconCamera"></i> Đăng tin</a></li>
        <li><a href="#"><i class="fa fa-sliders"></i> Quản lý</a></li>
        <li><a href="#"><i class="iconUser"></i> Tôi</a></li>
    </ul>
</footer>-->
<div class="overlay"></div>

<div class="modal fade modal-choose" id="typeBox" tabindex="-1" role="dialog" aria-labelledby="typeBoxLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="iconLeftOpen"></span></button>
            	<h4 class="modal-title" id="typeBoxLabel">Loại nhà đất</h4>
            </div>
            <div class="modal-body uln">
            	<ul class="type-list">
                	<li><a href="#" class="active">Tất cả các loại</a></li>
                    <li><a href="#">Loại nhà đất 1</a></li>
                    <li><a href="#">Loại nhà đất 2</a></li>
                    <li><a href="#">Loại nhà đất 3</a></li>
                    <li><a href="#">Loại nhà đất 4</a></li>
                    <li><a href="#">Loại nhà đất 5</a></li>
                    <li><a href="#">Loại nhà đất 6</a></li>
                    <li><a href="#">Loại nhà đất 7</a></li>
                    <li><a href="#">Loại nhà đất 8</a></li>
                    <li><a href="#">Loại nhà đất 9</a></li>
                    <li><a href="#">Loại nhà đất 10</a></li>
                    <li><a href="#">Loại nhà đất 11</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-choose" id="trendBox" tabindex="-1" role="dialog" aria-labelledby="trendBoxLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="iconLeftOpen"></span></button>
            	<h4 class="modal-title" id="trendBoxLabel">Hướng nhà</h4>
            </div>
            <div class="modal-body uln">
            	<ul class="type-list">
                	<li><a href="#" class="active">Tất cả các loại</a></li>
                    <li><a href="#">Hướng nhà 1</a></li>
                    <li><a href="#">Hướng nhà 2</a></li>
                    <li><a href="#">Hướng nhà 3</a></li>
                    <li><a href="#">Hướng nhà 4</a></li>
                    <li><a href="#">Hướng nhà 5</a></li>
                    <li><a href="#">Hướng nhà 6</a></li>
                    <li><a href="#">Hướng nhà 7</a></li>
                    <li><a href="#">Hướng nhà 8</a></li>
                    <li><a href="#">Hướng nhà 9</a></li>
                    <li><a href="#">Hướng nhà 10</a></li>
                    <li><a href="#">Hướng nhà 11</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="/web/mobile/js/javascript.min.js"></script>