<bds-mobile-left-menu></bds-mobile-left-menu>
<bds-mobile-filter search-data="$root.searchData"></bds-mobile-filter>
<bds-mobile-header header-info = "$root.headerInfo" ></bds-mobile-header>
<div class="wapper">
    <div class="loadingBox text-center" ng-show="mlm.doneSearch!=true"><img src="/web/mobile/img/loading_spinner.gif" width="60"></div>
	<div class="uln clb">
		<ul class="reland-list full">
            <li ng-if="mlm.prevPage==true" ng-click="mlm.prev();" style="height: 44px;text-align: center;margin-bottom: 5px;">
                <span><a href="#" style="color: #00a8e6; text-decoration: none;"> Nhấn vào đây để đi đến trang trước</a></span><br>
                <span>Đang hiển thị từ {{mlm.currentPageStart}} đến {{msc.currentPageEnd}} / {{mlm.totalResultCounts}} kết quả</span>
            </li>
			<li ng-repeat="ads in mlm.adsList track by $index">
			<a href="#" ng-click="mlm.likeAds($event,ads.adsID);" class="heart"><i class="icon-heart {{$root.alreadyLike(ads.adsID) ==  true?'active':''}}"></i></a>
            <a href="#" ng-click="$root.showDetailAds(ads.adsID,this);">
                <span class="img" style="background-image:url({{ads.image.cover}})"></span>
                <span class="des bgOpa">
                    <!-- <span class="btn btn-primary">Cần bán gấp</span>
                    <span class="btn btn-warning">Nhà mới xây</span>
                     --><span class="price">{{ads.giaFmt}} <small>Mới giảm giá</small></span>
                    <span class="name">{{ads.diaChi | limitTo: 20 }}</span>
                    <span class="split text-center">.</span>
                    <span>{{ads.soPhongNguFmt}}</span>
                    <span class="split"></span>
                    <span>{{ads.soTangFmt}}</span>
                </span>
            </a>
			</li>	
            <li ng-click="mlm.next();" ng-if="mlm.nextPage==true" style="height: 44px;text-align: center;margin-bottom: 5px;">
                <span><a href="#" style="color: #00a8e6; text-decoration: none;"> Nhấn vào đây để đi đến trang sau </a></span><br>
                <span>Đang hiển thị từ {{mlm.currentPageStart}} đến {{mlm.currentPageEnd}} / {{mlm.totalResultCounts}} kết quả
            </li>		
		</ul>
	</div>
	<div class="clb ovh">&nbsp;</div>
</div>
<div class="overlay"></div>
