<bds-mobile-left-menu></bds-mobile-left-menu>
<bds-mobile-filter mode="msc.viewMode" search-data="$root.searchData"></bds-mobile-filter>
<bds-mobile-header ></bds-mobile-header>

<div class="post">
    <form>
        <div class="postimg uln">
            <ul>
                <li ng-if="mpc.ads.image.cover.trim().length > 0">
                    <a href="javascript:void(0)" class="close"><i class="iconCancel"></i></a>
                    <img src="{{mpc.ads.image.cover}}" />
                    <span class="des">Ảnh bìa</span>
                </li>
                <li ng-repeat="img in mpc.ads.image.images track by $index">
                    <a href="javascript:void(0)" class="close"><i class="iconCancel"></i></a><img src="{{img}}" />
                </li>
                <li ngf-select="uploadFiles($files)" multiple accept="image/*"><input type="file" multiple id="file" /><label for="file"><i class="iconPlus"></i></label></li>
            </ul>
        </div>
        <div class="clb ovh"></div>
        <div class="search-box post-box">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="{{mpc.ads.loaiTin==0?'active':''}}"><a href="#" ng-click="mpc.selectLoaiTin(0)" aria-controls="postbuy">Bán</a></li>
                <li role="presentation" class="{{mpc.ads.loaiTin==1?'active':''}}"><a href="#" ng-click="mpc.selectLoaiTin(1)" aria-controls="postsale">Cho thuê</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="postbuy">
                    <div class="title">Đặc điểm</div>
                    <div class="type-box collapse-box">
                        <a role="button" class="collapse-title" data-toggle="modal" data-target="#typeBoxPost">Loại nhà <span><label id="loaiNhaLbl">Chung cư</label> <i class="iconRightOpen"></i></span></a>
                    </div>
                    <div class="dt-box collapse-box fr">
                        <a class="collapse-title"><label>Diện tích (m2)</label> <span><input ng-model="mpc.ads.dienTich" type="text" pattern="\d*" placeholder="200"></span></a>
                    </div>

                    <div class="room-box collapse-box collapse-cus group-cus ovh">
                        <a class="collapse-title">Số phòng ngủ</a>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn active" ng-click="mpc.setSoPhongNgu(0)">
                                <input type="radio" name="options" id="room0" autocomplete="off" checked>0
                            </label>
                            <label class="btn" ng-click="mpc.setSoPhongNgu(1)">
                                <input type="radio" name="options" id="room1" autocomplete="off">1
                            </label>
                            <label class="btn" ng-click="mpc.setSoPhongNgu(2)">
                                <input type="radio" name="options" id="room2" autocomplete="off">2
                            </label>
                            <label class="btn" ng-click="mpc.setSoPhongNgu(3)">
                                <input type="radio" name="options" id="room3" autocomplete="off">3
                            </label>
                            <label class="btn" ng-click="mpc.setSoPhongNgu(4)">
                                <input type="radio" name="options" id="room4" autocomplete="off">4
                            </label>
                            <label class="btn" ng-click="mpc.setSoPhongNgu(5)">
                                <input type="radio" name="options" id="room5" autocomplete="off">5
                            </label>
                            <label class="btn" ng-click="mpc.setSoPhongNgu(6)">
                                <input type="radio" name="options" id="room6" autocomplete="off">6
                            </label>
                            <label class="btn" ng-click="mpc.setSoPhongNgu(7)">
                                <input type="radio" name="options" id="room7" autocomplete="off">7
                            </label>
                            <label class="btn other">
                                <input type="radio" name="options" id="room8" autocomplete="off"><input ng-model="soPhongNgu" type="text" ng-change="mpc.setSoPhongNgu(soPhongNgu)" pattern="\d*" placeholder="Khác" />
                            </label>
                        </div>
                    </div>
                    <div class="bathroom-box collapse-box collapse-cus group-cus ovh">
                        <a class="collapse-title">Số phòng tắm</a>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn active" ng-click="mpc.setSoPhongTam(0)">
                                <input type="radio" name="options" id="bathroom0" autocomplete="off" checked>0
                            </label>
                            <label class="btn" ng-click="mpc.setSoPhongTam(1)">
                                <input type="radio" name="options" id="bathroom1" autocomplete="off">1
                            </label>
                            <label class="btn" ng-click="mpc.setSoPhongTam(2)">
                                <input type="radio" name="options" id="bathroom2" autocomplete="off">2
                            </label>
                            <label class="btn" ng-click="mpc.setSoPhongTam(3)">
                                <input type="radio" name="options" id="bathroom3" autocomplete="off">3
                            </label>
                            <label class="btn" ng-click="mpc.setSoPhongTam(4)">
                                <input type="radio" name="options" id="bathroom4" autocomplete="off">4
                            </label>
                            <label class="btn" ng-click="mpc.setSoPhongTam(5)">
                                <input type="radio" name="options" id="bathroom5" autocomplete="off">5
                            </label>
                            <label class="btn" ng-click="mpc.setSoPhongTam(6)">
                                <input type="radio" name="options" id="bathroom6" autocomplete="off">6
                            </label>
                            <label class="btn" ng-click="mpc.setSoPhongTam(7)">
                                <input type="radio" name="options" id="bathroom7" autocomplete="off">7
                            </label>
                            <label class="btn" >
                                <input type="radio" name="options" id="bathroom8" autocomplete="off"><input type="text" ng-model="soPhongTam" ng-change="mpc.setSoPhongTam(soPhongTam)" pattern="\d*" placeholder="Khác" />
                            </label>
                        </div>
                    </div>
                    <div class="step-box collapse-box collapse-cus group-cus ovh border-none">
                        <a class="collapse-title">Số tầng</a>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn active" ng-click="mpc.setSoTang(0)">
                                <input type="radio" name="options" id="step0" autocomplete="off" checked>0
                            </label>
                            <label class="btn" ng-click="mpc.setSoTang(1)">
                                <input type="radio" name="options" id="step1" autocomplete="off">1
                            </label>
                            <label class="btn" ng-click="mpc.setSoTang(2)">
                                <input type="radio" name="options" id="step2" autocomplete="off">2
                            </label>
                            <label class="btn" ng-click="mpc.setSoTang(3)">
                                <input type="radio" name="options" id="step3" autocomplete="off">3
                            </label>
                            <label class="btn" ng-click="mpc.setSoTang(4)">
                                <input type="radio" name="options" id="step4" autocomplete="off">4
                            </label>
                            <label class="btn" ng-click="mpc.setSoTang(5)">
                                <input type="radio" name="options" id="step5" autocomplete="off">5
                            </label>
                            <label class="btn" ng-click="mpc.setSoTang(6)">
                                <input type="radio" name="options" id="step6" autocomplete="off">6
                            </label>
                            <label class="btn" ng-click="mpc.setSoTang(7)">
                                <input type="radio" name="options" id="step7" autocomplete="off">7
                            </label>
                            <label class="btn">
                                <input type="radio" name="options" id="step8" autocomplete="off"><input type="text" ng-model="soTang" ng-change="mpc.setSoTang(soTang)" pattern="\d*" placeholder="Khác" />
                            </label>
                        </div>
                    </div>
                    <div class="title border">Vị trí</div>
                    <div class="maps-box collapse-box">
                        <a role="button" ng-click="mpc.showFullMap()" class="collapse-title" href="#">Bản đồ <span><label>Chọn vị trí</label> <i class="iconRightOpen"></i></span></a>
                    </div>
                    <div class="address-box collapse-box">
                        <a role="button" class="collapse-title" data-toggle="modal" data-target="#addressBox">Địa chỉ <span><label>Đường Phùng Hưng...</label> <i class="iconRightOpen"></i></span></a>
                    </div>
                    <div class="project-box collapse-box">
                        <a role="button" class="collapse-title" data-toggle="modal" data-target="#projectBox">Thuộc dự án <span><label>KDT Xa La</label> <i class="iconRightOpen"></i></span></a>
                    </div>
                    <div class="trend-box collapse-box border-none">
                        <a role="button" class="collapse-title" data-toggle="modal" data-target="#trendBoxPost">Hướng nhà <span><label id="huongNhaLbl">Bất kỳ</label> <i class="iconRightOpen"></i></span></a>
                    </div>
                    <div class="title border">Giá và liên hệ</div>
                    <div class="pr-box collapse-box fr">
                        <a class="collapse-title" onClick="spinner(this, '.spinner', 'spinner-hide')">Giá (triệu)<span><input type="text" ng-model="mpc.ads.gia"/></span></a>
                    </div>
                    <div class="contact-box collapse-box border-none">
                        <a role="button" class="collapse-title" data-toggle="modal" data-target="#contactBox">Liên hệ <span><label id="lienHeLbl"></label> <i class="iconRightOpen"></i></span></a>
                    </div>
                    <div class="title border">Thông tin chi tiết</div>
                    <div class="detail-box collapse-box border-none">
                        <a role="button" class="collapse-title" data-toggle="modal" data-target="#detailBox">Chi tiết <span><label>Nội thất đầy đủ</label> <i class="iconRightOpen"></i></span></a>
                    </div>
                    <div class="more-box more-box-hide">
                        <div class="title border">Thông tin khác</div>
                        <div class="dt-box collapse-box fr">
                            <a class="collapse-title"><label>Mặt tiền</label> <span><input type="text" ng-model="mpc.ads.matTien" placeholder="5,5"></span></a>
                        </div>
                        <div class="dt-box collapse-box  border-none fr">
                            <a class="collapse-title"><label>Đường trước nhà (m)</label> <span><input type="text" ng-model="mpc.ads.duongTruocNha" placeholder="5,5"></span></a>
                        </div>
                        <div class="year-box drum-full collapse-box border-none">
                            <a class="collapse-title" ng-click="mpc.spinner($event, '.spinner', 'spinner-hide')">Năm xây dựng <span><label id="yearBuild_value">Bất kỳ</label> <i class="iconDownOpen"></i></span></a>
                            <div class="yearBox spinner spinner-hide">
                                <select id="yearBuild">
                                    <option ng-repeat="namXd in namXayDungList track by $index" value="{{namXd.value}}">{{namXd.lable}}</option>
                                </select>
                            </div>

                        </div>
                        <div class="title border">&nbsp;</div>
                        <div class="other-box uln">
                            <ul class="list-check">
                                <li ng-repeat="dtn in mpc.dacTinhNha track by $index"><a href="#" ng-click="mpc.setDacTinhNha(dtn.value)" class="{{mpc.isActiveClass(dtn.value)?'active':''}}">{{dtn.lable}} <i class="iconCheck"></i></a></li>
                            </ul>
                        </div>
                        <div class="title background-none border-none border-top">&nbsp;</div>
                    </div>
                    <div class="btn-box collapse-box btn-more border-none border-top">
                        <a role="button" class="collapse-title blue">Mở rộng</a>
                    </div>
                    <div class="pd15"><button type="reset" class="btn btn-danger btn-block">Đăng tin</button></div>
                    <div class="btn-box collapse-box btn-reset border-none">
                        <button type="reset" class="collapse-title red">Thiết lập lại</button>
                    </div>



                    <div class="clb ovh mb10">&nbsp;</div>
                </div>
            </div>
        </div>
    </form>
    <div class="modal fade modal-choose" id="typeBoxPost" tabindex="-1" role="dialog" aria-labelledby="typeBoxPostLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="iconLeftOpen"></span></button>
                    <h4 class="modal-title" id="typeBoxPostLabel">Loại nhà đất</h4>
                </div>
                <div class="modal-body uln">
                    <ul class="type-list">
                        <li ng-repeat="lnd in mpc.loaiNhaDat track by $index"><a ng-click="mpc.selectLoaiNhaDat(lnd)" href="#" data-dismiss="modal" aria-label="Close" class="{{mpc.ads.loaiNhaDat==lnd.value?'active':''}}">{{lnd.lable}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-choose" id="trendBoxPost" tabindex="-1" role="dialog" aria-labelledby="trendBoxPostLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="iconLeftOpen"></span></button>
                    <h4 class="modal-title" id="trendBoxPostLabel">Hướng nhà</h4>
                </div>
                <div class="modal-body uln">
                    <ul class="type-list">
                        <li ng-repeat="hn in mpc.huongNhaList track by $index"><a href="#" ng-click="mpc.selectHuongNha(hn)" class="{{mpc.ads.huongNha==hn.value?'active':''}}" data-dismiss="modal" aria-label="Close">{{hn.lable}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-choose" id="contactBox" tabindex="-1" role="dialog" aria-labelledby="contactBoxLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" ng-click="mpc.changeLienHeLbl()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="iconLeftOpen"></span></button>
                    <h4 class="modal-title" id="contactBoxLabel">Liên hệ</h4>
                </div>
                <div class="title border">Thông tin liên hệ <a  class="pull-right" onClick="showhide('#contactBox .contact-list');">Ẩn/Hiện</a></div>
                <div class="modal-body uln">
                    <ul class="contact-list">
                        <li><a href="#" ng-click="mpc.toggleShowTenLL()" class="{{mpc.ads.lienHe.showTenLienLac?'active':''}}">Tên liên lạc <span class="pull-right datetime"><input type="text" ng-model="mpc.ads.lienHe.tenLienLac" value="Trần Việt Anh" /></span></a></li>
                        <li><a href="#" ng-click="mpc.toggleShowPhone()" class="{{mpc.ads.lienHe.showPhone?'active':''}}">Điện thoại <span class="pull-right datetime"><input type="text" ng-model="mpc.ads.lienHe.phone" value="0165 988 1234" /></span></a></li>
                        <li><a href="#" ng-click="mpc.toggleShowEmail()" class="{{mpc.ads.lienHe.showEmail?'active':''}}">Email <span class="pull-right datetime"><input type="text" ng-model="mpc.ads.lienHe.email" value="tranvietanh88@gmail.com" /></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-choose" id="detailBox" tabindex="-1" role="dialog" aria-labelledby="detailBoxLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="iconLeftOpen"></span></button>
                    <h4 class="modal-title" id="detailBoxLabel">Chi tiết</h4>
                </div>
                <div class="modal-body uln">
                    <textarea ng-model="mpc.ads.chiTiet" placeholder="Mô tả những gì bạn muốn bán (cho thuê). Ví dụ: Địa chỉ, diện tích, giá, hướng nhà..."></textarea>
                    {{mpc.ads.chiTiet}}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-choose modal-none modal-bg" id="addressBox" tabindex="-1" role="dialog" aria-labelledby="addressBoxLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="iconLeftOpen"></span></button>
                    <h4 class="modal-title" id="addressBoxLabel">Địa chỉ</h4>
                </div>
                <div class="modal-body uln">
                    <div class="title">Số nhà, ngõ, đường</div>
                    <div class="pd15"><input type="text" class="form-control mb10"></div>
                    <div class="note-fr pd15">Ví dụ: Số 15, ngõ 68 Hai Bà Trưng</div>
                    <div class="clb">&nbsp;</div>
                    <div class="title">Phường, quận, thành phố</div>
                    <div class="pd15"><input type="text" class="form-control mb10" value="Phường Phúc La, Hà Đông, Hà Nội"></div>
                    <div class="note-fr pd15">Thông tin này được lấy từ vị trí bạn chọn trên bản đồ. Nếu chưa thấy đúng bạn quay lại bản đồ chọn lại vị trí nhà.</div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="modal fade modal-choose modal-none" id="mapsBoxPost" tabindex="-1" role="dialog" aria-labelledby="mapsBoxLabelPost">
    <div class="search-fr">
        <i class="iconSearch"></i>
        <input type="text" ng-change="mpc.autoCompleteChange();" ng-model="mpc.autoCompleteText" ng-click="mpc.showFavorite($event)" ng-keypress="mpc.keyPress($event)" class="input-fr" id="searchAddPost" placeholder="Nhập khu vực hoặc địa điểm cần tìm kiếm" />
        <!-- <ul ng-if="mf.showFrequentSearch==true" >
            <li>1</li>
            <li>2</li>
        </ul> -->
        <a href="#" ng-click="mpc.autoCompleteText='';mpc.toggleQuickClearAutoComplete();" class="close-search" ><i class="iconCancel"></i> Thoát</a>
    </div>
    <div class="btn-box collapse-box btn-reset border-none">
        <button type="button" ng-click="chonDiaChinh()">chon dia chinh</button>
    </div>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="iconLeftOpen"></span></button>
                <h4 class="modal-title" id="mapsBoxLabelPost">Bản đồ</h4>
            </div>

            <div class="modal-body uln">
                <ng-map center="[{{currentLocation.lat}},{{currentLocation.lon}}]" lazy-init="true" id="fullMapPost" class="ngmap">
                    <custom-marker position="[{{currentLocation.lat}},{{currentLocation.lon}}]">
                        <div class = "marker">
                            Abc
                        </div>
                    </custom-marker>
                </ng-map>
            </div>
        </div>
    </div>
</div>

<script src="/web/mobile/js/javascript.min.js"></script>