<bds-mobile-left-menu></bds-mobile-left-menu>
<bds-mobile-filter mode="msc.viewMode" search-data="$root.searchData"></bds-mobile-filter>
<bds-mobile-header mode="msc.viewMode" act="$root.act"></bds-mobile-header>

<div ng-if="msc.viewMode=='list'" class="wapper" style="bottom: ">
    <div class="reland-box uln">
        <ul class="reland-list full" >
            <li ng-if="msc.currentPage >1" ng-click="msc.prev();" style="height: 40px;text-align: center;">
                <span><a href="#" style="color: #00a8e6; text-decoration: none;"> Nhấn vào đây để đi đến trang trước</a></span><br>
                <span>Đang hiển thị từ {{msc.currentPageStart}} đến {{msc.currentPageEnd}} / {{msc.totalResultCounts}} kết quả</span>
            </li>
            <li ng-repeat="ads in msc.ads_list track by $index" >
                <a href="#" ng-click="msc.likeAds($event,ads.adsID);" class="heart"><i class="icon-heart {{$root.alreadyLike(ads.adsID) ==  true?'active':''}}"></i></a>
                <a href="#" ng-click="msc.goDetail($event,$index)">
                    <span class="img" style="background-image:url({{ads.image.cover}})"></span>
                    <span class="des bgOpa">
                        <!-- <span class="btn btn-primary">Cần bán gấp</span>
                        <span class="btn btn-warning">Nhà mới xây</span>
                         --><span class="price">{{ads.giaFmt}} <small>Mới giảm giá</small></span>
                        <span class="name">{{ads.diaChi | limitTo: 20 }}</span>
                        <span class="split text-center">.</span>
                        <span>{{ads.soPhongNguFmt}}</span>
                        <span class="split"></span>
                        <span>{{ads.soTangFmt}}</span>
                    </span>
                </a>
            </li>
            <li ng-click="msc.next();" ng-if="msc.currentPage < msc.lastPageNo" style="height: 40px;text-align: center;">
                <span><a href="#" style="color: #00a8e6; text-decoration: none;"> Nhấn vào đây để đi đến trang sau </a></span><br>
                <span>Đang hiển thị từ {{msc.currentPageStart}} đến {{msc.currentPageEnd}} / {{msc.totalResultCounts}} kết quả
            </li>
        </ul>
        <div class="clb ovh"></div>
    </div>
    <!--END-->
</div>



<div ng-if="msc.viewMode=='list' && msc.ads_list && msc.ads_list.length>0" style="visibility: hidden; height: 40px;" class="bottom clb ovh uln">
    <div class="app">
        <h5>Reland App (IOS/Android)</h5>
        <ul>
            <li><a href="/"><i class="iconHome gray"></i> Reland App</a></li>
        </ul>
    </div>
    <div class="copyright">
        <p>
            <a href="#">Phiên bản Desktop</a> |
            <a href="#">Câu hỏi thường gặp</a> |
            <a href="#">Điểu khoản sử dụng</a>
        </p>
        <p class="mtm">Copyright © 2016 Reland Inc., All Rights Reserved.</p>
    </div>
</div>
<div class="notifyBox mapsnotify">Hiện có 24 thông báo mới</div>
<div class="search-nodata" ng-if="msc.noResult==true">
    <strong>Không tìm thấy kết quả nào phù hợp</strong>
    <p>Hãy Zoom nhỏ lại, thay đổi điều kiện <a href="#" ng-click= "msc.showFilter();"> <strong>Lọc</strong></a> hoặc nhấn vào nút bên dưới để xem các tin nằm trong khung hình hiện tại</p>
    <a class="btn btn-primary" ng-click="msc.searchCurrentViewport();">Xem theo khung hình</a>
</div>
<div  class="wapper" style="top: 42px;">
    <!-- <div  class="maps" ng-style="{'visibility': msc.viewMode=='map' ? 'visible' : 'hidden'}" style="bottom: 44px;"> -->
    <div  class="maps"  ng-show ="msc.viewMode!='list'">
        <div ontouchstart="return false"  ng-show ="msc.viewMode!='list'" style="height: 100%;width: 100%;">
            <ng-map id="searchmap" zoom-control="false" map-type-control="false" fullscreen-control="false" street-view-control="false" clickable-icons="false" ng-show ="msc.viewMode!='list'" custom-zoom-to-include-markers="true" center="{{center}}" lazy-init="true"   class="ngmap">
                <!-- <ng-map zoom="11" id="searchmap" center="Danang Vietnam" class="ngmap"> -->
                <custom-marker  ng-repeat="m in markers track by $index" position="[{{m.coords.latitude}},{{m.coords.longitude}}]" on-mouseover="msc.mouseover({{$index}})" on-mouseout="msc.mouseout()" on-click="msc.previewAds({{$index}});"
                                id="m_{{$index}}" >
                    <div class="marker">
                        {{m.content}}
                        <i ng-if="m.negotiatePrice==true" class="fa fa-long-arrow-up" aria-hidden="true"></i>
                        <span ng-if="m.count > 1" class="fa-stack fa-lg" style="font-size:1em;">
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa-stack-1x">{{m.count}}</i>
                        </span>
                    </div>
                </custom-marker>
                <marker animation="BOUNCE" position="[{{msc.marker.coords.latitude}},{{msc.marker.coords.longitude}}]"></marker>
                <!-- <street-view-panorama
                  click-to-go="false"
                  disable-default-u-i="false"
                  disable-double-click-zoom="false"
                  pov="{heading: heading, pitch: pitch}"
                  scrollwheel="false"
                  enable-close-button="true"
                  visible="false">
                </street-view-panorama>  -->
                <!-- </marker> -->
                <!-- <info-window ng-repeat="m in markers track by $index" id="{{$index}}">
                    <div ng-non-bindable="">
                        id: {{$index}}<br/>
                        name: {{msc.highlightAds.name}}<br/>

                        <a href="#">Click Here</a>
                    </div>
                </info-window> -->
            </ng-map>
        </div>

        <div class="mapsBtn"  style="bottom: 55px;">
            <a href="#" style="margin: 8px 2px;" ng-click="msc.prev($event)"><i class="p-icon i-mapprev"></i></i></a>
            <a href="#" style="margin: 8px 2px;visibility: {{$root.user.autoSearch==false?'visible':'hidden';}}" ng-click="msc.refreshPage($event)"><i class="p-icon i-maprefresh"></i></i></a>
            <a href="#" style="margin: 8px 2px;" ng-click="msc.next($event)"><i class="p-icon i-mapnext"></i></i></a>
        </div>
        <div class="actions" style="bottom: 55px;">
            <a href="#" ng-click="msc.toggleDrawMode($event)"><i class="p-icon i-mapdraw" ></i></i></a>
            <a href="#" ng-click="msc.getLocation($event)"><i class="p-icon i-maplocation"></i></i></a>
        </div>
    </div>
    <div class="loadingBox text-center" ng-show="msc.doneSearch!=true"><img src="/web/mobile/img/loading_spinner.gif" width="60"></div>
    <footer class="main border uln">
        <ul class="navmain nav-3 blue nav-text">
            <li>
                <!-- <a href="javascript:void(0)" onClick="showhide('.list-sort');"><i class="p-icon i-sort"></i> Sắp xếp</a> -->
                <a href="javascript:void(0)" onclick="showhide('.list-sort');">Sắp xếp</a>
                <div class="list-sort popovers top uln">
                    <ul>
                        <li><a href="javascript:void(0)" ng-click="msc.sort('ngayDaDang','ASC')" class="active">Mặc định</a></li>
                        <li><a href="javascript:void(0)" ng-click="msc.sort('ngayDaDang','ASC')">Ngày đăng</a></li>
                        <li><a href="javascript:void(0)" ng-click="msc.sort('gia','DESC')">Giá (giảm dần)</a></li>
                        <li><a href="javascript:void(0)" ng-click="msc.sort('gia','ASC')">Giá (tăng dần)</a></li>
                        <li><a href="javascript:void(0)" ng-click="msc.sort('soPhongNgu','ASC')">Số phòng ngủ</a></li>
                        <li><a href="javascript:void(0)" ng-click="msc.sort('soPhongTam','ASC')">Số phòng tắm</a></li>
                        <li><a href="javascript:void(0)" ng-click="msc.sort('dienTich','ASC')">Diện tích</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a role="button" data-toggle="modal" ng-click="msc.showSaveSearch();">Lưu tìm kiếm</a>
            </li>
            <li ng-if="msc.viewMode=='list'" ng-click="msc.showMap();"><a href="#">Bản đồ</a></li>
            <li ng-if="msc.viewMode=='map'" ng-click="msc.showList();"><a href="#">Danh sách</a></li>
        </ul>
    </footer>
</div>



<div class="overlay"></div>


<div class="modal fade modal-choose" id="typeBox" tabindex="-1" role="dialog" aria-labelledby="typeBoxLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="iconLeftOpen"></span></button>
                <h4 class="modal-title" id="typeBoxLabel">Loại nhà đất</h4>
            </div>
            <div class="modal-body uln">
                <ul class="type-list">
                    <li><a href="#" class="active">Tất cả các loại</a></li>
                    <li><a href="#">Loại nhà đất 1</a></li>
                    <li><a href="#">Loại nhà đất 2</a></li>
                    <li><a href="#">Loại nhà đất 3</a></li>
                    <li><a href="#">Loại nhà đất 4</a></li>
                    <li><a href="#">Loại nhà đất 5</a></li>
                    <li><a href="#">Loại nhà đất 6</a></li>
                    <li><a href="#">Loại nhà đất 7</a></li>
                    <li><a href="#">Loại nhà đất 8</a></li>
                    <li><a href="#">Loại nhà đất 9</a></li>
                    <li><a href="#">Loại nhà đất 10</a></li>
                    <li><a href="#">Loại nhà đất 11</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-choose" id="trendBox" tabindex="-1" role="dialog" aria-labelledby="trendBoxLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="iconLeftOpen"></span></button>
                <h4 class="modal-title" id="trendBoxLabel">Hướng nhà</h4>
            </div>
            <div class="modal-body uln">
                <ul class="type-list">
                    <li><a href="#" class="active">Tất cả các loại</a></li>
                    <li><a href="#">Hướng nhà 1</a></li>
                    <li><a href="#">Hướng nhà 2</a></li>
                    <li><a href="#">Hướng nhà 3</a></li>
                    <li><a href="#">Hướng nhà 4</a></li>
                    <li><a href="#">Hướng nhà 5</a></li>
                    <li><a href="#">Hướng nhà 6</a></li>
                    <li><a href="#">Hướng nhà 7</a></li>
                    <li><a href="#">Hướng nhà 8</a></li>
                    <li><a href="#">Hướng nhà 9</a></li>
                    <li><a href="#">Hướng nhà 10</a></li>
                    <li><a href="#">Hướng nhà 11</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-msg" id="saveBox" tabindex="-1" role="dialog" aria-labelledby="saveBoxLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body uln">
                <div class="text-center">
                    <h3>Tên tìm kiếm cần lưu</h3>
                    <p>Ví dụ: Gần chỗ làm, gần bệnh viện...</p>
                </div>
                <input type="text" ng-model="msc.saveSearchName" class="form-control" placeholder="Quận Hà Đông, Hà Nội" />
            </div>
            <div class="modal-footer">
                <a type="button" data-dismiss="modal" aria-label="Close">Thoát</a>
                <a href="#" ng-click="msc.saveSearch();">Lưu lại</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-msg" id="previewAds" tabindex="-1" role="dialog" aria-labelledby="saveBoxLabel">
    <div style="position: absolute;bottom: 0px; height: 180px;overflow-y: auto;width: 100%;">
        <ul class="reland-list full" style="padding-left: 0px;" >            
            <li ng-repeat="ads in msc.adsPreviewList track by $index" >
                <a href="#" ng-click="msc.likeAds($event,ads.adsID);" class="heart"><i class="icon-heart {{$root.alreadyLike(ads.adsID) ==  true?'active':''}}"></i></a>
                <a href="#" ng-click="msc.goDetail($event,$index)">
                    <span class="img" style="background-image:url({{ads.image.cover}})"></span>
                    <span class="des bgOpa">
                        <span class="btn btn-primary">Cần bán gấp</span>
                        <span class="btn btn-warning">Nhà mới xây</span>
                        <span class="price">{{ads.giaFmt}} <small>Mới giảm giá</small></span>
                        <span class="name">{{ads.diaChi | limitTo: 20 }}</span>
                        <span class="split text-center">.</span>
                        <span>{{ads.soPhongNguFmt}}</span>
                        <span class="split"></span>
                        <span>{{ads.soTangFmt}}</span>
                    </span>
                </a>
            </li>            
        </ul>        
    </div>
</div>
<script src="/web/mobile/js/javascript.min.js"></script>