<div class="search">
	<div style="display: none;"  >
	    
	    <ng-map center="Hanoi Vietnam" id="filtermap" class="ngmap">
	    </ng-map>   

	</div>
	<form>
		<div class="search-fr">
	    	<i class="iconSearch"></i>
	    	<input type="text" class="input-fr" id="searchadd" placeholder="Nhập khu vực hoặc địa điểm cần tìm kiếm" />

	        <a href="javascript:void(0)" class="close-search"><i class="iconCancel"></i> Thoát</a>
	    </div>
	    <div class="search-box">
	        <ul class="nav nav-tabs" role="tablist">
	            <li role="presentation" class="active"><a href="#searchbuy" aria-controls="searchbuy" role="tab" data-toggle="tab">Bán</a></li>
	            <li role="presentation"><a href="#searchsale" aria-controls="searchsale" role="tab" data-toggle="tab">Cho thuê</a></li>
	        </ul>
	        <div class="tab-content">
	            <div role="tabpanel" class="tab-pane active" id="searchbuy">
	            	<div class="title">Các điều kiện</div>
	                <div class="price-box collapse-box">
	                	<a class="collapse-title" onClick="spinner(this, '.spinner', 'spinner-hide')">Mức giá <span><label id="prices2_value">Bất kỳ</label> <i class="iconDownOpen"></i></span></a>
	                    <div class="priceBox spinner spinner-hide">
	                    	<select id="prices1" ng-model="vm.searchData.giaBETWEEN[0]" class="drum">
	                        	<option selected value="0">0</option>
	                            <option value="1">1 tỷ</option>
	                            <option value="2">2 tỷ</option>
	                            <option value="3">3 tỷ</option>
	                            <option value="5">5 tỷ</option>
	                            <option value="7">7 tỷ</option>
	                            <option value="10">10 tỷ</option>
	                            <option value="20">20 tỷ</option>
	                            <option value="30">30 tỷ</option>
	                        </select>
	                        <select id="prices2" ng-model="vm.searchData.giaBETWEEN[1]" class="drum">
	                        	<option selected value="999999999999999">Bất kỳ</option>
	                            <option value="1">1 tỷ</option>
	                            <option value="2">2 tỷ</option>
	                            <option value="3">3 tỷ</option>
	                            <option value="5">5 tỷ</option>
	                            <option value="7">7 tỷ</option>
	                            <option value="10">10 tỷ</option>
	                            <option value="20">20 tỷ</option>
	                            <option value="30">30 tỷ</option>
	                        </select>
	                    </div>
	                </div>
	                <div class="type-box collapse-box">
	                	<a role="button" class="collapse-title" data-toggle="modal" data-target="#typeBox">Loại nhà đất <span><label>Bất kỳ</label> <i class="iconRightOpen"></i></span></a>
	                </div>
	                <div class="room-box collapse-box collapse-cus group-cus ovh">
	                	<a class="collapse-title">Số phòng ngủ</a>
	                    <div class="btn-group" data-toggle="buttons">
	                        <label class="btn active">
	                        	<input type="radio" ng-click="mf.setSearchDataSpn(0)" name="options" id="room0" ng-value="mf.searchData.spn" autocomplete="off" >Bất kỳ
	                        </label>
	                        <label class="btn">
	                        	<input type="radio" ng-click="mf.setSearchDataSpn(1)" name="options" id="room1" ng-value="mf.searchData.spn" autocomplete="off">1+
	                        </label>
	                        <label class="btn">
	                        	<input type="radio" ng-click="mf.setSearchDataSpn(2)" name="options" id="room2" ng-value="mf.searchData.spn" autocomplete="off">2+
	                        </label>
	                        <label class="btn">
	                        	<input type="radio" ng-click="mf.setSearchDataSpn(3)" name="options" id="room3" ng-value="mf.searchData.spn" autocomplete="off">3+
	                        </label>
	                        <label class="btn">
	                        	<input type="radio" ng-click="mf.setSearchDataSpn(4)" name="options" id="room4" ng-value="mf.searchData.spn" autocomplete="off">4+
	                        </label>
	                        <label class="btn">
	                        	<input type="radio" ng-click="mf.setSearchDataSpn(5)" name="options" id="room5" ng-value="mf.searchData.spn" autocomplete="off">5+
	                        </label>
	                    </div>
	                </div>
	                <div class="room-box collapse-box collapse-cus group-cus ovh">
	                	<a class="collapse-title">Số phòng tắm</a>
	                    <div class="btn-group" data-toggle="buttons">
	                        <label class="btn active">
	                        	<input type="radio" ng-click="mf.setSearchDataSpt(0)" id="bathroom0" value="0" autocomplete="off" ng-value="mf.searchData.spt">Bất kỳ
	                        </label>
	                        <label class="btn">
	                        	<input type="radio"  ng-click="mf.setSearchDataSpt(1)" id="bathroom1" value="1" autocomplete="off" ng-value="mf.searchData.spt">1+
	                        </label>
	                        <label class="btn">
	                        	<input type="radio"  ng-click="mf.setSearchDataSpt(2)" id="bathroom2" value="2" autocomplete="off" ng-value="mf.searchData.spt">2+
	                        </label>
	                        <label class="btn">
	                        	<input type="radio"  ng-click="mf.setSearchDataSpt(3)" id="bathroom3" value="3" autocomplete="off" ng-value="mf.searchData.spt">3+
	                        </label>
	                        <label class="btn">
	                        	<input type="radio"  ng-click="mf.setSearchDataSpt(4)" id="bathroom4" value="4" autocomplete="off" ng-value="mf.searchData.spt">4+
	                        </label>
	                        <label class="btn">
	                        	<input type="radio" ng-click="mf.setSearchDataSpt(5)" id="bathroom5" value="1=5" autocomplete="off" ng-value="mf.searchData.spt">5+
	                        </label>
	                    </div>
	                </div>
	                <div class="area-box collapse-box">
	                    <a class="collapse-title" onClick="spinner(this, '.spinner', 'spinner-hide')">Diện tích <span><label id="area_value">Bất kỳ</label> <i class="iconDownOpen"></i></span></a>
	                    <div class="areaBox spinner spinner-hide">
	                    	<select id="area" class="drum">
	                        	<option selected value="9999999999999999">Bất kỳ</option>
	                            <option value="10">10 m2</option>
	                            <option value="20">20 m2</option>
	                            <option value="30">30 m2</option>
	                            <option value="50">50 m2</option>
	                            <option value="70">70 m2</option>
	                            <option value="100">100 m2</option>
	                            <option value="200">200 m2</option>
	                            <option value="300">300 m2</option>
	                        </select>
	                    </div>
	                </div>
	                <div class="area-box collapse-box collapse-none"></div>
	                <div class="btn-box collapse-box btn-more">
	                	<a role="button" class="collapse-title blue">Mở rộng</a>
	                </div>
	                <div class="more-box more-box-hide">
	                	<div class="trend-box collapse-box">
	                        <a role="button" class="collapse-title" data-toggle="modal" data-target="#trendBox">Hướng nhà <span><label>Bất kỳ</label> <i class="iconRightOpen"></i></span></a>
	                    </div>
	                    <div class="date-box collapse-box">
	                        <a class="collapse-title" onClick="spinner(this, '.spinner', 'spinner-hide')">Ngày đăng <span><label id="datepost_value">Bất kỳ</label> <i class="iconDownOpen"></i></span></a>
	                        <div class="dateBox spinner spinner-hide">
	                            <select id="datepost" class="drum">
	                                <option selected value="a0">Bất kỳ</option>
	                                <option value="a1">1 ngày</option>
	                                <option value="a2">2 ngày</option>
	                                <option value="a3">3 ngày</option>
	                                <option value="a5">5 ngày</option>
	                                <option value="a6">7 ngày</option>
	                                <option value="a7">30 ngày</option>
	                                <option value="a8">60 ngày</option>
	                                <option value="a9">90 ngày</option>
	                            </select>
	                        </div>
	                    </div>
	                    
	                </div>
	                <div class="area-box collapse-box collapse-none"></div>
	                <div class="btn-box collapse-box btn-reset">
	                	<button type="reset" ng-click="mf.reset();" class="collapse-title red">Thiết lập lại</button>
	                </div>
	            </div>
	            <!--END tabs-->
	            <div role="tabpanel" class="tab-pane" id="searchsale">Cho thuê</div>
	            <!--END tabs-->
	        </div>
	    </div>
	    <div class="search-footer">
	    	<a href="#" class="pull-left">Thoát</a>
	        <a href="#" class="pull-right" ng-click="mf.gotoSearchPage();">Thực hiện</a>
	    </div>
	</script>
	</form>
</div>