<header class="main blue" style="z-index=10;background: #00a8e6;">
    <div ng-if="mhdr.stateName=='msearch'">
    	<a href="javascript:void(0)" class="nav_mobile header-icon" ng-click="mhdr.toggleLeftMenu();"><i class="iconMenu"></i><span style="display: none;">{{$root.unreadMsg?$root.unreadMsg:""}}</span></a>
		<i ng-class="iconSearchClass"></i>
		<a href="javascript:void(0)" class="search_mobile search-txt"  ng-click="mhdr.toggleFilter($event);">{{mhdr.headerFilterButtonText}}</a>	
		<!-- <input type="search" placeholder="Tìm tất cả theo khung nhìn" /> -->		
		<input type="search" ng-change="mhdr.autoCompleteChange();" ng-model="mdhr.act" ng-click="mhdr.showFavorite($event)"   id="searchadd1" placeholder="{{$root.act}}" />
    </div>
    <div ng-if="mhdr.stateName=='mlistMore'">    	
        <a href="#" ng-click="mhdr.goToHomePage();" class="header-icon pull-left"><i class="iconLeftOpen"></i></a>
		<a href="#" ng-click="mhdr.toggleFilter($event);" class="search_mobile header-icon"><i class="iconSearch"></i></a>
		<span class="name">{{headerInfo.listMoreFirstTitle}}<br> {{headerInfo.listMoreSecondTitle}}</span>        
    </div>
    <div ng-if="mhdr.stateName!='msearch' && mhdr.stateName!='mlistMore'">
    	<!-- <a href="javascript:void(0)" class="nav_mobile header-icon" ng-click="mhdr.toggleLeftMenu();"><i class="iconMenu"></i></a>
		<a href="javascript:void(0)" class="pull-left"><img src="/web/mobile/img/logo.png" /></a>
		<span ng-if="mhdr.page=='list'">Quận Hà Đông - Hà Nội</span>
		<a href="javascript:void(0)" class="chat_mobile header-icon pull-right"><i class="iconChat"></i></a>
	    <a href="javascript:void(0)" ng-click="mhdr.toggleFilter();" class="search_mobile header-icon"><i class="iconSearch"></i></a> -->
	    <a href="javascript:void(0)" class="nav_mobile header-icon" ng-click="mhdr.toggleLeftMenu();"><i class="iconMenu"></i><span>{{$root.unreadMsg?$root.unreadMsg:""}}</span></a>
		<a href="javascript:void(0)" class="pull-left"><img src="/web/mobile/img/logo.svg" width="110" /></a>
		<a href="javascript:void(0)"  ng-click="mhdr.goToSearchPage();" class="chat_mobile header-icon pull-right"><img src="/web/mobile/img/location.png" class="location"/></a>
        <a href="#" ng-click="mhdr.toggleFilter($event);" class="search_mobile header-icon"><i class="iconSearch"></i></a>

    </div>
</header>