<div class="search">
	<div style="display: none;"  >
	    
	    <ng-map center="Hanoi Vietnam" id="filtermap" class="ngmap">
	    </ng-map>   

	</div>
	<form>
		<div class="search-fr">
	    	<i class="iconSearch"></i>
	    	<input ng-if="mf.stateName!='msearch'" type="text" ng-change="mf.autoCompleteChange();" ng-model="mf.autoCompleteText" ng-click="mf.showFavorite($event)" ng-keypress="mf.keyPress($event)" class="input-fr" id="searchadd" placeholder="Nhập khu vực hoặc địa điểm cần tìm kiếm" />	
	    	<!-- <ul ng-if="mf.showFrequentSearch==true" >
	    		<li>1</li>
	    		<li>2</li>
	    	</ul> -->    	
	        <a href="#" ng-click="mf.autoCompleteText='';mf.toggleQuickClearAutoComplete();" class="close-search" ><i class="iconCancel"></i> Thoát</a>
	    </div>
	    <div class="search-box">
	        <ul class="nav nav-tabs" role="tablist">
	            <li role="presentation" class="{{searchData.loaiTin==0?'active':''}}"><a href="#" ng-click="mf.selectLoaiTin(0)" aria-controls="searchbuy" role="tab" data-toggle="tab">Bán</a></li>
	            <li role="presentation" class="{{searchData.loaiTin==1?'active':''}}"><a href="#" ng-click="mf.selectLoaiTin(1)" aria-controls="searchsale" role="tab" data-toggle="tab">Cho thuê</a></li>
	        </ul>
	        <div class="tab-content">
	            <div role="tabpanel" class="tab-pane active" id="searchbuy">
	            	<div class="title">Các điều kiện</div>
	            	<div class="type-box collapse-box">
	                	<a role="button" class="collapse-title" data-toggle="modal" data-target="#typeBox">Loại nhà đất <span><label>Bất kỳ</label> <i class="iconRightOpen"></i></span></a>
	                </div>

	                <div class="area-box collapse-box">
                        <a class="collapse-title" ng-click="mf.spinner($event, '.spinner', 'spinner-hide')">Diện tích <span><label id="area_value">Bất kỳ</label> <i class="iconDownOpen"></i></span></a>
	                    <div class="areaBox spinner spinner-hide">
	                    	<div class="mb10 ovh">
                            	<div class="col-sm-6 text-center"><input type="number" ng-model="searchData.dienTichKhacFrom" class="form-control" /></div>
                                <div class="col-sm-6 text-center"><input type="number" ng-model="searchData.dienTichKhacTo" class="form-control" /></div>
                            </div>
	                    	<select id="area" class="drum">
	                    		<option ng-repeat="area in mf.areas track by $index" value="{{area.value}}">{{area.lable}}</option>	
	                        </select>
	                    </div>
	                </div>
	                <div class="price-box collapse-box">
	                	<a class="collapse-title" ng-click="mf.spinner($event, '.spinner', 'spinner-hide')" >Mức giá<span><label id="prices_value">Bất kỳ</label> <i class="iconDownOpen"></i></span></a>
	                    <div id="price_0" ng-show="searchData.loaiTin==0 || mf.initialized==false" class="priceBox spinner spinner-hide">
	                    	<div class="mb10 ovh">
                            	<div class="col-sm-6 text-center"><input type="number" ng-model="searchData.giaKhacFrom" class="form-control" /></div>
                                <div class="col-sm-6 text-center"><input type="number" ng-model="searchData.giaKhacTo" class="form-control" /></div>
                            </div>
	                        <select class="drum" id="prices" >	                        	
	                        	<option ng-repeat="price in mf.sellPrices track by $index" value="{{price.value}}">{{price.lable}}</option>	
                            </select>
	                    </div>
	                    <div id="price_1" ng-show="searchData.loaiTin==1 || mf.initialized==false" class="priceBox spinner spinner-hide">
	                        <select class="drum" id="prices">
	                        	<option ng-repeat="price in mf.rentPrices track by $index" value="{{price.value}}">{{price.lable}}</option>	
                            </select>
	                    </div>
	                </div>
	                <div class="room-box collapse-box collapse-cus group-cus ovh">
	                	<a class="collapse-title">Số phòng ngủ</a>
	                    <div class="btn-group" data-toggle="buttons">
	                        <label class="btn {{searchData.soPhongNguGREATER=='0'?'active':''}}" ng-click="mf.setSearchDataSpn(0)">
	                        	<input type="radio" name="options" id="room0" ng-model="searchData.soPhongNguGREATER" value ="0" autocomplete="off" >Bất kỳ
	                        </label>
	                        <label class="btn {{searchData.soPhongNguGREATER=='1'?'active':''}}" ng-click="mf.setSearchDataSpn(1)">
	                        	<input type="radio" name="options" id="room1" ng-model="searchData.soPhongNguGREATER" value ="1"  autocomplete="off">1+
	                        </label>
	                        <label class="btn {{searchData.soPhongNguGREATER=='2'?'active':''}}" ng-click="mf.setSearchDataSpn(2)">
	                        	<input type="radio" name="options" id="room2" ng-model="searchData.soPhongNguGREATER" value ="2" autocomplete="off">2+
	                        </label>
	                        <label class="btn {{searchData.soPhongNguGREATER=='3'?'active':''}}" ng-click="mf.setSearchDataSpn(3)">
	                        	<input type="radio"  name="options" id="room3" ng-model="searchData.soPhongNguGREATER" value ="3" autocomplete="off">3+
	                        </label>
	                        <label class="btn {{searchData.soPhongNguGREATER=='4'?'active':''}}" ng-click="mf.setSearchDataSpn(4)">
	                        	<input type="radio"  name="options" id="room4" ng-model="searchData.soPhongNguGREATER" value ="4" autocomplete="off">4+
	                        </label>
	                        <label class="btn {{searchData.soPhongNguGREATER=='5'?'active':''}}" ng-click="mf.setSearchDataSpn(5)">
	                        	<input type="radio" name="options" id="room5" ng-model="searchData.soPhongNguGREATER" value ="5" autocomplete="off">5+
	                        </label>
	                    </div>
	                </div>

	                
	                
	                
	                
	                <div ng-if="mf.item.location" class="room-box collapse-box collapse-cus group-cus ovh">
	                	<a class="collapse-title">Bán kính tìm kiếm(Km)</a>
	                    <div class="btn-group" data-toggle="buttons">
	                        <label class="btn {{mf.radius=='0'?'active':''}}" ng-click="mf.setSearchDataRadius(0)" >
	                        	<input type="radio"  id="bathroom0" value="0" autocomplete="off" ng-value="mf.radius">Bất kỳ
	                        </label>
	                        <label class="btn {{mf.radius=='0.5'?'active':''}}" ng-click="mf.setSearchDataRadius(0.5)">
	                        	<input type="radio"  id="bathroom2" value="0.5" autocomplete="off" ng-value="mf.radius">0.5
	                        </label>
	                        <label class="btn {{mf.radius=='1'?'active':''}}" ng-click="mf.setSearchDataRadius(1)">
	                        	<input type="radio"  id="bathroom3" value="1" autocomplete="off" ng-value="mf.radius">1
	                        </label>
	                        <label class="btn {{mf.radius=='2'?'active':''}}" ng-click="mf.setSearchDataRadius(2)">
	                        	<input type="radio"  id="bathroom4" value="2" autocomplete="off" ng-value="mf.radius">2
	                        </label>
	                        <label class="btn {{mf.radius=='3'?'active':''}}" ng-click="mf.setSearchDataRadius(3)">
	                        	<input type="radio" id="bathroom5" value="5" autocomplete="off" ng-value="mf.radius">3
	                        </label>
	                        <label class="btn {{mf.radius=='5'?'active':''}}" ng-click="mf.setSearchDataRadius(5)">
	                        	<input type="radio" id="bathroom5" value="5" autocomplete="off" ng-value="mf.radius">5
	                        </label>
	                    </div>
	                </div>

	                <div class="title border">&nbsp;</div>
	                <div class="area-box collapse-box collapse-none"></div>
	                <div class="btn-box collapse-box btn-more">
	                	<a role="button" class="collapse-title blue">Mở rộng</a>
	                </div>
	                <div class="more-box more-box-hide">
	                	
	                	<div class="trend-box collapse-box">
	                        <a role="button" class="collapse-title" data-toggle="modal" data-target="#trendBox">Hướng nhà <span><label>Bất kỳ</label> <i class="iconRightOpen"></i></span></a>
	                    </div>
	                    <div class="date-box collapse-box">
	                        <a class="collapse-title" ng-click="mf.spinner($event, '.spinner', 'spinner-hide')">Ngày đăng <span><label id="datepost_value">Bất kỳ</label> <i class="iconDownOpen"></i></span></a>
	                        <div class="dateBox spinner spinner-hide">
	                            <select id="datepost" ng-model="searchData.ngayDangTinGREATER" class="drum">
	                            	<option ng-repeat="ndt in mf.ngayDangTinList track by $index" value="{{ndt.value}}">{{ndt.lable}}</option>
	                            </select>
	                        </div>
	                    </div>
	                    
	                </div>
	                <div class="title border">&nbsp;</div>
	                <div class="btn-box collapse-box btn-reset border-none">
                    	<button type="reset" ng-click="mf.reset();" class="collapse-title red">Thiết lập lại</button>
                    </div>
					<div class="clb ovh mb10">&nbsp;</div>
					<div class="search-btn" style="display: none;">
						<button class="btn btn-organe btn-block" ng-click="mf.gotoSearchPage();">Tìm kiếm</button>
					</div>
					<div class="search-btn blue">
						<a class="btn-none pull-left" ng-click='mf.hideFilter();'>Hủy</a>
                        <a class="btn-none pull-right" ng-click="mf.gotoSearchPage();">Thực hiện</a>
					</div>
	            </div>
	            <!--END tabs-->
	            <div role="tabpanel" class="tab-pane" id="searchsale">Cho thuê</div>
	            <!--END tabs-->
	        </div>
	    </div>
	</script>
	</form>
	<div class="modal fade modal-choose" id="typeBox" tabindex="-1" role="dialog" aria-labelledby="typeBoxLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="iconLeftOpen"></span></button>
            	<h4 class="modal-title" id="typeBoxLabel">Loại nhà đất</h4>
            </div>
            <div class="modal-body uln">
            	<ul class="type-list">
                    <li ng-repeat="lnd in mf.loaiNhaDat track by $index"><a ng-click="mf.selectLoaiNhaDat(lnd);" class="{{searchData.loaiNhaDat==lnd.value?'active':''}}" href="#">{{lnd.lable}}</a></li>                    
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-choose" id="trendBox" tabindex="-1" role="dialog" aria-labelledby="trendBoxLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="iconLeftOpen"></span></button>
            	<h4 class="modal-title" id="trendBoxLabel">Hướng nhà</h4>
            </div>
            <div class="modal-body uln">
            	<ul class="type-list">
                	<li ng-repeat="hn in mf.huongNhaList track by $index"><a ng-click="mf.selectHuongNha(hn);"  href="#" class="{{searchData.huongNha==hn.value?'active':''}}">{{hn.lable}}</a></li>                	
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
