<nav class="main uln">
    	<ul>
        	<li class="logo"><img src="/web/mobile/img/logo.png" height="25"  alt="Reland" title="Reland" /></li>
            <li data-toggle="modal" data-target="#loginBox">
                <a class="login">
                <p>Đăng nhập/Profile</p>
                <p class="blue">NEW PROFILE, CHECK IT OUT!</p>
                </a>
            </li>
            <li><a href="#" ng-click="mmn.gotoHomePage();"><i class="iconHome"></i> Trang chủ</a></li>
            <li><a href="#" ng-click="mmn.gotoSearchPage();"> <i class="iconSearch"></i> Tìm kiếm</a></li>
            <li><a href="#" ng-click="mmn.gotoChatPage();"><i class="iconChat"></i> Chat</a></li>
            <li><a href="#" ng-click="mmn.gotoDangTinPage();"><i class="iconCamera"></i> Đăng tin</a></li>
            <li><a href="#" ng-click="mmn.gotoQuanLyDangTin();"><i class="fa fa-sliders"></i> Quản lý tin đăng</a></li>
            <li><a href="#"><i class="iconDollarSign"></i> Nạp tiền</a></li>
            <li><a href="#"><i class="iconChartLine"></i> Lịch sử giao dịch</a></li>
            <li><a href="#"><i class="iconShopping"></i> Thông tin các gói dịch vụ</a></li>
            <li><a href="#"><i class="iconHelp"></i> Trợ giúp</a></li>
            <li><a href="#"><i class="iconCog"></i> Cài đặt</a></li>
        </ul>
        <h5>Reland App (IOS/Android)</h5>
        <ul>
        	<li><a href="/"><i class="iconHome gray"></i> Reland App</a></li>
        </ul>
        <ul>
        	<li><a href="#" ng-click="mmn.signout();"><i class="iconExport" ></i> Đăng xuất</a></li>
        </ul>
        <div class="clb ovh"></div>
    </nav>
