<div id="{{chatbox.user.userID}}">
	<div id="live-chat" ng-class="chatbox.onlineClass" style='right: {{chatbox.position + "px"}}'>
		
		<header class="clearfix" id="{{chatbox.position}}-chat-header" ng-click="chat.toggleChat($event);">
			
			<a href="#" class="chat-close" ng-click="chat.closeChat($event);">x</a>

			<h4 >{{chatbox.user.name}}</h4>

			<span style="display: none;" class="chat-message-counter">3</span>

		</header>

		<div class="chat">
			
			<div class="chat-history" id="{{chatbox.position}}_chat-history">
				
				<div class="chat-message clearfix" ng-repeat="msg in chatbox.messages track by $index" >
					<div ng-if="msg.showDate" class="chat-message-content clearfix">
						{{msg.dateDisplay}}
					</div>			
					
					<!-- <img src="http://lorempixum.com/32/32/people" alt="" width="32" height="32"> -->
					<img src="{{msg.fromUserAvatar}}" width="32" height="32">


					<div  class="chat-message-content clearfix">
						
						<span class="chat-time">{{msg.timeStamp}}</span>

						<h5>{{msg.fromFullName}}</h5>

						<p ng-if="msg.msgType==1">{{msg.content}}</p>

					</div> 		

					<div class="item" ng-show="msg.msgType==2 || msg.msgType==3">
						<div>
                            <div ng-class="{'attachment-icon-right' : msg.ownMsg, 'attachment-icon-left' : !msg.ownMsg}">
                              	<a ng-href="{{msg.file.url}}" data-title="{{msg.file.name}}">
                                	<img  ng-if="msg.msgType==2" ng-class="{'multiple-borders-white' : msg.ownMsg,'multiple-borders-black' : !msg.ownMsg}" width="90" height="70" ng-src="{{msg.file.url}}" alt="Image File"> <!-- Image -->
                                	<span ng-if="msg.msgType==3">Document</span>
                              	</a>
                            </div>
                            <div ng-class="{'attachment-msg-right' : msg.ownMsg, 'attachment-msg-left' : !msg.ownMsg}" ng-if="msg.msgType==2 || msg.msgType==3">
                                  <span class="decs-text"><b>File :</b> {{ msg.file.name}}</span>
                                  <span class="decs-text"><b>Size :</b> {{msg.file.size}}</span>
                                  <span class="decs-text">
                                  <a id ="{{msg.dwid}}" class="decs-text" ng-show="!msg.ownMsg" download target="_self" href="{{msg.file.url}}" ><i>Tải về</i> <i class="fa fa-download dw-icon"></i></a>
                                  <a id ="{{msg.dwid}}A" class="decs-text hidden-link" href="{{ msg.file.url }}"  download="{{ msg.file.url }}"></a>  
                                  </span>
                            </div>
                        </div>
					</div>

				</div> <!-- end chat-message -->

				<!-- <hr> -->

				

			</div> <!-- end chat-history -->

			<p class="chat-feedback">{{chatbox.status}}</p>

			<form method="post" ng-submit="chat.sendMsg();">
				<input type="text" ng-model="chat.chatMsg"  ng-keydown="chatKeypress($event)" ng-blur="chatBlur($event)" placeholder="Type your message…">
				<div class="chat-file-upload" ngf-select="uploadFiles($files)" multiple accept="image/*" >
					<img src="asset/img/chat-attach-icon.png" style="width: 32px; height: 32px;"></img>
				</div>				
			</form>

		</div> <!-- end chat -->

	</div> <!-- end live-chat -->
</div>