<div class="box-login" id="box-login">
    <div class="inner">
        <form action="index.html" method="post" id="form-login" novalidate>

            <div ng-if="lc.enterEmail" class="head">Đăng nhập/Đăng ký để lưu thông tin tìm kiếm</div>
            <div ng-if="lc.userExist" class="head">Chào mừng bạn quay lại với Reland. Xin nhập mật khẩu</div>
            <div ng-if="lc.enterPassword && !lc.userExist" class="head">Tạo mật khẩu</div>
            
            <a href="#box-login" class="btn-close" data-login="close"><i class="fa fa-times"></i></a>
            <div ng-if="lc.enterEmail" class="control">
                <input type="email" ng-model="lc.email" placeholder="Enter email address" class="form-control" name="email" required/>
            </div>
            <div ng-if="lc.enterPassword" class="control">
                <input type="password" ng-model="lc.password" class="form-control" required> </input>
            </div>
            <div class="handle">
                <button type="button" ng-click="lc.signin();" class="btn-login">Đăng nhập</button>
            </div>
            <div class="rule">Tôi đồng ý với các điều khoản <a href="/terms/" target="_blank">sử dụng</a> và <a href="/privacy/" target="_blank">bản quyền của Reland</a>.</div>
            <div class="register">Bạn có phải là môi giới BĐS? <a href="/agent_signup/?redirect_url=http://www.trulia.com/"> Đăng ký tại đây.</a></div>
        </form>
    </div>
</div>