<div class="box-login" id="box-login" ng-click="lc.exitLoginBox($event);">
    <div class="inner">
        <form ng-submit="lc.signin()" method="post" id="form-login" novalidate>
            <div>
                <div class="head" ng-if="!(lc.state==lc.RESET_PASSWORD)" >{{lc.head}}</div>
                <!-- <div ng-if="lc.userExist && lc.state == lc.ENTER_PASSWORD" class="head"></div>
                <div ng-if="lc.state == lc.ENTER_PASSWORD && !lc.userExist" class="head"></div>
                <div ng-if="lc.state == lc.FORGOT_PASSWORD" class="head"></div>
                 -->
                <div class="rule" ng-if="!(lc.state==lc.RESET_PASSWORD)">{{lc.subHead}}</div>
                <div ng-if="lc.state == lc.RESET_PASSWORD" class="head">{{lc.resetHead}}</div>
                <!-- <div class="rule" ng-if="lc.state == lc.SENT_PASSWORD">Reland đã gửi mật khẩu tới email của bạn. Hãy kiểm tra và nhập mật khẩu mới để đăng nhập</div>
                 -->
                <a href="#box-login" ng-click="lc.exitLoginBox();" class="btn-close" data-login="close"><i class="fa fa-times"></i></a>
                <div ng-if="lc.state == lc.ENTER_EMAIL || lc.state == lc.FORGOT_PASSWORD" class="control">
                    <input  ng-model="lc.email" placeholder="Nhập địa chỉ email hoặc số điện thoại" class="form-control" name="mailorphone" required />
                </div>
                <div ng-if="lc.state == lc.ENTER_PASSWORD || lc.state == lc.SENT_PASSWORD" class="control">
                    <input type="password" ng-model="lc.password" class="form-control" name="password" required> </input>
                </div>
                <br ng-if="lc.state == lc.RESET_PASSWORD">
                <input ng-if="lc.state == lc.RESET_PASSWORD" type="password" placeholder="mật khẩu" ng-model="lc.resetPassword" class="form-control" name="password" required> </input>
                <br ng-if="lc.state == lc.RESET_PASSWORD">
                <input ng-if="lc.state == lc.RESET_PASSWORD" type="password" placeholder="xác nhận mật khẩu"  ng-model="lc.resetPasswordConfirm" class="form-control" name="passwordConfirm" required> </input>

                <div class="handle">
                    <button type="button" ng-click="lc.signin();" class="btn-login">Đăng nhập</button>
                </div>
                <div class="rule">Tôi đồng ý với các điều khoản <a href="/terms/" target="_blank">sử dụng</a> và <a href="/privacy/" target="_blank">bản quyền của Reland</a>.</div>
                <div ng-if="!(lc.state == lc.ENTER_PASSWORD)" class="register">Bạn có phải là môi giới BĐS? <a href="/agent_signup/?redirect_url=http://www.trulia.com/"> Đăng ký tại đây.</a></div>
                <div class="register" ng-if="lc.state == lc.ENTER_PASSWORD"><a href="" ng-click="lc.forgotPassword()" >Quên mật khẩu?</a></div>
            </div>
            
                
                
                
            
        </form>
    </div>
</div>