<li class="{{$root.user.userName?'has-sub':''}}">
    <a ng-if="!$root.user.userName" class="btn" href="#" ng-click="uim.showLogin();" title="Đăng nhập">Đăng nhập</a>
    <a ng-if="$root.user.userName" class="link" href="" title=""><span class="user"><i class="fa fa-user"></i> {{$root.user.userName}}</span></a>
    <ul ng-if="$root.user.userName">
        <li>
            <a href="" ng-click="uim.profile();" title="">Thông tin tài khoản</a>
        </li>
        <li class="border">
            <a href="" ng-click="uim.signout();" title=""><i class="fa fa-sign-out"></i> Thoát</a>
        </li>
    </ul>
</li>
