<!doctype html>
<html lang="en" ng-app="bds">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="/web/dist/vendor.bundle.js"></script>
	<script src="/web/dist/app.bundle.js"></script>
	<!-- <script src="/app/home/home.js"></script> -->
	<title>Reway</title>
	<style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      .angular-google-map-container {
    		height: 400px;
    		width: 400px;
	  }
    </style>
</head>
<body ng-controller="MainCtrl as mc">
	<div growl></div>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="http://gipxy.com/">Welcome to Reway</a>
				<button ng-click="mc.getAllAds();">Find House</button>
				<button ng-click="mc.createHouse();">Show current location in map</button>
				<h5 class="title" translate>
	Sell House
	</h5>
	<div data-ng-view class="container">
		<div >
			<div id="map_canvas" style="display: block;">
    		<ui-gmap-google-map center="map.center" control = "map.control" zoom="map.zoom" options="options" refresh="'true'">
    			<ui-gmap-markers models="markers" idKey="id" options = "'options'" coords="'coords'" fit="'true'" icon="'icon'">
    			</ui-gmap-markers>
    		</ui-gmap-google-map>
			</div>
		</div>
	</div>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th translate="">Title</th>
				<th translate="">Price</th>
				<th translate="">Image</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="house in mc.sellingHouses" class="ng-scope">
				<td class="ng-binding">{{house.value.adsID}}</td>
				<td class="ng-binding">{{house.value.gia}}</td>
				<td class="ng-binding"><img src="{{house.value.image.images_small[0]}}"></td>
			</tr>
		</tbody>
	</table>
			</div>
		</div>
	</div>
	

</body>
</html>
