<!doctype html>
<html lang="en" ng-app="AngularGoogleMap">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
	<script src="/bower/underscore/underscore.js"></script>
	<script src='/bower/lodash/dist/lodash.min.js'></script>
	<script src="/web/dist/vendor.bundle.js"></script>
	<script src="/web/dist/app.bundle.js"></script>
	
	<!-- <script src="/app/home/home.js"></script> -->
	<title>Reway</title>
	<style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
</head>
<body >
	<div growl></div>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="http://gipxy.com/">Welcome to Reway</a>
				<button ng-click="mc.findHouse();">Find House</button>
				<button ng-click="mc.createHouse();">Create House</button>
				<h5 class="title" translate>
	Sell House
	</h5>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th translate="">Title</th>
				<th translate="">Price</th>
				<th translate="">Image</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="house in mc.sellingHouses" class="ng-scope">
				<td class="ng-binding">{{house.value.title}}</td>
				<td class="ng-binding">{{house.value.price_value}}</td>
				<td class="ng-binding"><img src="{{house.value.images_small[0]}}"></td>
			</tr>
		</tbody>
	</table>
			</div>
		</div>
	</div>
	<div>
		<div ng-controller="MapCtrl">
			<div id="map_canvas">
    		<ui-gmap-google-map center="map.center" zoom="map.zoom" options="options"></ui-gmap-google-map>
			</div>
		</div>
		
	</div>

</body>
</html>
