<div style="display: none;" >
    
    <ng-map center="Hanoi Vietnam" class="ngmap">
    </ng-map>   

</div>

            <div class="main" id="main">
                <bds-header menuitems="$root.menuitems"></bds-header>
                <section class="box-homepage">
                    <div class="row">
                        <div class="col col-50">
                            <div class="block-01 is-fixed" id="block-01">
                                <ul id="slider-home" class="pc">
                                    <li style="background-image: url(asset/img/data/slider-1.jpg)">
                                        <img src="asset/img/blank.gif" width="1" height="1" alt="Blank"/>
                                    </li>
                                    <li style="background-image: url(asset/img/data/slider-2.jpg)">
                                        <img src="asset/img/blank.gif" width="1" height="1" alt="Blank"/>
                                    </li>
                                    <li style="background-image: url(asset/img/data/slider-3.jpg)">
                                        <img src="asset/img/blank.gif" width="1" height="1" alt="Blank"/>
                                    </li>
                                    <li style="background-image: url(asset/img/data/slider-4.jpg)">
                                        <img src="asset/img/blank.gif" width="1" height="1" alt="Blank"/>
                                    </li>
                                </ul>
                                <div class="group">
                                    <div class="inner">
                                        <div class="wrap">
                                            <div class="search">
                                                <div class="option">
                                                    <h2 class="sp">Your Home for Real Estate.</h2>
                                                    <div class="row">
                                                        <div class="col col-50">
                                                            <a href="#search_type" data-search="true" ng-click="setLoaiTin(0)" class="active" data-type="for_sale"><span>Bán</span></a>
                                                        </div>
                                                        <div class="col col-50">
                                                            <a href="#search_type" data-search="true" ng-click="setLoaiTin(1)" data-type="for_rent"><span>Cho thuê</span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form">
                                                <form method="get" ng-submit="goToPageSearch()">
                                                    <input type="text" class="form-control" placeholder="Address, City, Zip, Neighborhood" id="autoCompleteHome"/>
                                                    <button ng-click="goToPageSearch()" class="btn-search" type="button"><i class="fa fa-search"></i><span class="text">Tìm kiếm</span></button>
                                                    <input id="search_type" type="hidden" name="search_type" value="for_sale">
                                                </form>
                                            </div>
                                            </div>
                                            <ul class="social">
                                                <li>
                                                    <a href="" title=""><i class="fa fa-facebook"></i></a>
                                                </li>
                                                <li>
                                                    <a href="" title=""><i class="fa fa-twitter"></i></a>
                                                </li>
                                                <li>
                                                    <a href="" title=""><i class="fa fa-linkedin"></i></a>
                                                </li>
                                                <li>
                                                    <a href="" title=""><i class="fa fa-pinterest-p"></i></a>
                                                </li>
                                                <li>
                                                    <a href="" title=""><i class="fa fa-google-plus"></i></a>
                                                </li>
                                            </ul>
                                            <ul class="device">
                                                <li>
                                                    <a href="" title=""><i class="fa fa-apple"></i></a>
                                                </li>
                                                <li>
                                                    <a href="" title=""><i class="fa fa-android"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- //block-01 -->
                            <div class="pc">&nbsp;</div>
                        </div>
                        <div class="col col-50">
                            <div class="block-02" ng-repeat="cat in hot_ads_cat">
                                <div data-scroll="true" class="title">
                                    <h2>{{::cat.name}}</h2>
                                    <p>{{::cat.location}}</p>
                                    <div class="row">
                                        <div ng-repeat="ads in cat.list track by $index" ng-click="mc.goDetail(cat,$index)" ng-class-odd="'col-40'" ng-class-even="'col-60'" class="col ">
                                            <div class="item">
                                              <a class="link" href="" title="">
                                                <span class="img" style="background-image: url({{ads.image.cover}})"></span>
                                                <span class="info">
                                                    <span class="line"><span class="price">{{ads.giaFmt}}</span> <span>{{ads.dienTichFmt}}</span></span>
                                                    <span class="line">{{ads.ten_loaiNhaDat}} {{ads.soTangFmt}} {{ads.soPhongNguFmt}}</span>
                                                    <span class="line">{{ads.place.diaChi}}</span>
                                                </span>
                                              </a>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="more sp">
                                        <a href="" title="">See All New Listings</a>
                                    </div>
                                </div>
                            </div><!-- //block-02 -->
                            
                            <div class="block-03 pc">
                                <a href="" title="">
                                    <img src="asset/img/data/tsa_discovery_module.png" width="825" height="100" alt=""/>
                                </a>
                            </div>
                            <div class="block-02">
                                <div data-scroll="true" class="title">
                                    <h2>Nhà mới giảm giá</h2>
                                    <p>Hà Nội</p>
                                </div>
                                <div class="more sp">
                                    <a href="" title="">See All New Listings</a>
                                </div>
                            </div><!-- //block-02 -->
                            <div class="block-02">
                                <div data-scroll="true" class="title">
                                    <h2>Nhà chính chủ</h2>
                                    <p>Hà Nội</p>
                                </div>
                                <div class="more sp">
                                    <a href="" title="">See All New Listings</a>
                                </div>
                            </div><!-- //block-02 -->
                            <div class="block-02">
                                <div data-scroll="true" class="title">
                                    <h2>Nhà xây mới</h2>
                                    <p>Hà Nội</p>
                                </div>
                                <div class="more sp">
                                    <a href="" title="">See All New Listings</a>
                                </div>
                            </div><!-- //block-02 -->
                            <div class="block-02">
                                <div data-scroll="true" class="title">
                                    <h2>Nhà ôtô đỗ cửa</h2>
                                    <p>Hà Nội</p>
                                </div>
                                <div class="more sp">
                                    <a href="" title="">See All New Listings</a>
                                </div>
                            </div>
                            <div class="block-02">
                                <div data-scroll="true" class="title">
                                    <h2>Nhà được miễn phí môi giới</h2>
                                    <p>Hà Nội</p>
                                </div>
                                <div class="more sp">
                                    <a href="" title="">See All New Listings</a>
                                </div>
                            </div>
                            <div class="block-02">
                                <div data-scroll="true" class="title">
                                    <h2>Nhà chưa xem</h2>
                                    <p>Hà Nội</p>
                                </div>
                                <div class="more sp">
                                    <a href="" title="">See All New Listings</a>
                                </div>
                            </div>
                            <div class="block-02">
                                <div data-scroll="true" class="title">
                                    <h2>Nhà cần bán gấp</h2>
                                    <p>Hà Nội</p>
                                </div>
                                <div class="more sp">
                                    <a href="" title="">See All New Listings</a>
                                </div>
                            </div>
                            <!-- //block-02 -->
                        </div>
                    </div>
                </section><!-- //box-homepage -->
                <footer class="footer">
                    <div class="footer-top">
                        <img src="asset/img/data/discovery-ill.svg" width="200" height="125" alt=""/>
                        <h3>Trulia is the best place to start your real estate search.</h3>
                        <p>Trulia is an all-in-one real estate site that gives you the local scoop about homes for sale, apartments for rent, <a href="/real_estate/New_York-New_York/">neighborhood insights</a>, and real estate markets and trends to help you figure out exactly what, where, and when to buy, sell or rent. You can also find a real estate agent, view prices of recently sold homes, and see home values in your community. Get advice and opinions from local real estate agents, brokers, and other local experts on Trulia Voices, Trulia's online real estate community.</p>
                        <a href="" title="">Learn more about us</a>
                    </div>
                    <div class="footer-bot">
                        <div class="row">
                            <div class="col col-20">
                                <h3>
                                    <a href="" title="">Top thị trường BĐS</a>
                                </h3>
                                <ul>
                                    <li>
                                        <a href="" title="">- BĐS Hà Nội</a>
                                    </li>
                                    <li>
                                        <a href="" title="">- BĐS TP. Hồ CHí Minh</a>
                                    </li>
                                    <li>
                                        <a href="" title="">- BĐS Đà Nẵng</a>
                                    </li>
                                    <li>
                                        <a href="" title="">- BĐS Bình Dương</a>
                                    </li>
                                    <li class="hidden">
                                        <a href="" title="">- BĐS Hải Phòng</a>
                                    </li>
                                    <li class="hidden">
                                        <a href="" title="">- BĐS Quảng Ninh</a>
                                    </li>
                                    <li class="hidden">
                                        <a href="" title="">- BĐS Vũng Tàu</a>
                                    </li>
                                    <li class="hidden">
                                        <a href="" title="">- BĐS Đồng Nai</a>
                                    </li>
                                    <li class="hidden">
                                        <a href="" title="">- BĐS Long An</a>
                                    </li>
                                    <li class="hidden">
                                        <a href="" title="">- BĐS Khánh Hòa</a>
                                    </li>
                                </ul>
                                <a class="more" href="#" data-more="true" data-parent="col" title="more">Mở rộng</a>
                            </div>
                            <div class="col col-20">
                                <h3>
                                    <a href="" title="">Top thị trường bán</a>
                                </h3>
                                <ul>
                                    <li>
                                        <a href="" title="">- Nhà đất Hà Nội</a>
                                    </li>
                                    <li>
                                        <a href="" title="">- Nhà đất TP. Hồ CHí Minh</a>
                                    </li>
                                    <li>
                                        <a href="" title="">- Nhà đất Đà Nẵng</a>
                                    </li>
                                    <li>
                                        <a href="" title="">- Nhà đất Bình Dương</a>
                                    </li>
                                    <li class="hidden">
                                        <a href="" title="">- Nhà đất Hải Phòng</a>
                                    </li>
                                    <li class="hidden">
                                        <a href="" title="">- Nhà đất Quảng Ninh</a>
                                    </li>
                                    <li class="hidden">
                                        <a href="" title="">- Nhà đất Vũng Tàu</a>
                                    </li>
                                    <li class="hidden">
                                        <a href="" title="">- Nhà đất Đồng Nai</a>
                                    </li>
                                    <li class="hidden">
                                        <a href="" title="">- Nhà đất Long An</a>
                                    </li>
                                    <li class="hidden">
                                        <a href="" title="">- Nhà đất Khánh Hòa</a>
                                    </li>
                                </ul>
                                <a class="more" href="#" data-more="true" data-parent="col" title="more">Mở rộng</a>
                            </div>
                            <div class="col col-20">
                                <h3>
                                    <a href="" title="">Top thị trường cho thuê</a>
                                </h3>
                                <ul>
                                    <li>
                                        <a href="" title="">- Nhà đất Hà Nội</a>
                                    </li>
                                    <li>
                                        <a href="" title="">- Nhà đất TP. Hồ CHí Minh</a>
                                    </li>
                                    <li>
                                        <a href="" title="">- Nhà đất Đà Nẵng</a>
                                    </li>
                                    <li>
                                        <a href="" title="">- Nhà đất Bình Dương</a>
                                    </li>
                                    <li class="hidden">
                                        <a href="" title="">- Nhà đất Hải Phòng</a>
                                    </li>
                                    <li class="hidden">
                                        <a href="" title="">- Nhà đất Quảng Ninh</a>
                                    </li>
                                    <li class="hidden">
                                        <a href="" title="">- Nhà đất Vũng Tàu</a>
                                    </li>
                                    <li class="hidden">
                                        <a href="" title="">- Nhà đất Đồng Nai</a>
                                    </li>
                                    <li class="hidden">
                                        <a href="" title="">- Nhà đất Long An</a>
                                    </li>
                                    <li class="hidden">
                                        <a href="" title=""> - Nhà đất Khánh Hòa</a>
                                    </li>
                                </ul>
                                <a class="more" href="#" data-more="true" data-parent="col" title="more">Mở rộng</a>
                            </div>
                        </div>
                        <nav class="navigation">
                            <ul>
                                <li>
                                    <a href="" title="">Giới thiệu</a>
                                </li>
                                <li>
                                    <a href="" title="">Điều khoản</a>
                                </li>
                                <li>
                                    <a href="" title="">Quy định đăng tin</a>
                                </li>
                                <li>
                                    <a href="" title="">Báo giá đăng tin</a>
                                </li>
                                <li>
                                    <a href="" title="">FAQs</a>
                                </li>
                                <li>
                                    <a href="" title="">Tuyển dụng</a>
                                </li>
                                <li>
                                    <a href="" title="">Liên hệ</a>
                                </li>
                            </ul>
                        </nav>
                        <div class="copyright">
                            Copyright © 2016 Reway Group
                        </div>
                    </div>
                </footer><!-- //footer -->
                <div class="overlay" data-overlay="true"></div>
            </div><!-- //main -->
            <div class="menu-left" id="menu-left">
                <div class="inner">
                    <nav class="nav-mobile">
                        <ul>
                            <li>
                                <a href="index.html" title="Trulia">
                                    <img src="asset/img/logo.png" width="455" height="92" alt="Logo"/>
                                </a>
                            </li>
                            <li>
                                <a href="" title="">
                                    <span>Đăng nhập/Đăng ký</span>
                                    <span>Thông tin cá nhân/Check out</span>
                                </a>
                            </li>
                            <li>
                                <a href="" title=""><i class="fa fa-home"></i> Home</a>
                            </li>
                            <li class="active">
                                <a href="" title=""><i class="fa fa-search"></i> Search</a>
                            </li>
                            <li>
                                <a href="" title=""><i class="fa fa-usd"></i> What's My Home Worth?</a>
                            </li>
                            <li>
                                <a href="" title=""><i class="fa fa-users"></i> Find an Agent</a>
                            </li>
                            <li>
                                <a href="" title=""><i class="fa fa-pie-chart"></i> Mortgage</a>
                            </li>
                            <li>
                                <a href="" title=""><i class="fa fa-comments"></i> Advice</a>
                            </li>
                            <li>
                                <a href="" title=""><i class="fa fa-info-circle"></i> Local Info</a>
                            </li>
                            <li>
                                <a href="" title=""><i class="fa fa-question"></i> Help Center</a>
                            </li>
                            <li>
                                <a href="" title=""><i class="fa fa-exchange"></i> Neighborhood Guides</a>
                            </li>
                        </ul>
                        <div class="more">Trulia Apps</div>
                        <ul class="nav-mobile">
                            <li>
                                <a href="" title=""><i class="fa fa-home"></i> Trulia Real Estate App</a>
                            </li>
                            <li>
                                <a href="" title=""><i class="fa fa-life-ring"></i> Trulia Rentals App</a>
                            </li>
                            <li>
                                <a href="" title=""><i class="fa fa-ticket"></i> Trulia Mortgage App</a>
                            </li>
                            <li>
                                <a href="" title=""><i class="fa fa-suitcase"></i> Trulia Agent App</a>
                            </li>
                        </ul>
                        <div class="more">More</div>
                        <ul class="nav-mobile">
                            <li>
                                <a href="" title="">Leave Feedback</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div><!-- //menu-left -->
            <div class="box-saved" id="box-saved">
                <ul class="nav-saved">
                    <li>
                        <a class="active" href="#my-boards" data-tab="true" data-content="content" data-group="box-saved" title="My Boards">My Boards</a>
                    </li>
                    <li>
                        <a href="#saved-homes" data-tab="true" data-content="content" data-group="box-saved" title="Saved Homes">Saved Homes</a>
                    </li>
                    <li>
                        <a href="#saved-rentals" data-tab="true" data-content="content" data-group="box-saved" title="Saved Rentals">Saved Rentals</a>
                    </li>
                </ul>
                <div class="content" style="display: block" id="my-boards">
                    <div class="create">
                        <a href="#" title=""><i class="fa fa-plus"></i> Create Board</a>
                    </div>
                </div>
                <div class="content" id="saved-homes">
                    <div class="notice">
                        You haven’t added any homes yet.<br/>
                        Start searching for properties to add now.
                    </div>
                    <div class="handle">
                        <a href="index.html" ui-sref="search" title="Search Homes">Search Homes</a>
<div class="wrap">…</div>                    </div>
                </div>
                <div class="content" id="saved-rentals">
                    <div class="notice">
                        You haven’t added any homes yet.<br/>
                        Start searching for properties to add now.
                    </div>
                    <div class="handle">
                        <a href="index.html" title="Search Homes">Search Homes</a>
                    </div>
                </div>
                <div id="loading" class="loading"></div>
            </div>
    </div><!-- //wrapper -->


