<body class="page-search">
    <div class="wrapper" id="wrapper">
        <div class="main" id="main">
            <header class="header">
                    <div class="header-top">
                        <a href="#menu-left" title="Menu" class="btn-menu" id="btn-menu" data-menu="true">Menu</a>
                        <h1 class="logo">
                            <a href="index.html" title="Trulia">
                                <img src="asset/img/logo.png" width="455" height="92" alt="Logo"/>
                            </a>
                        </h1>
                        <nav class="nav-main">
                            <ul>
                                <li>
                                    <a ng-click="mc.goToPageSearchMenu('0','0')" title="">BĐS bán</a>
                                    <ul>
                                        <li ng-repeat="item in mc.loaiNhaDatBanMenu"><a ng-click="mc.goToPageSearchMenu('0',item.value)" ng-model="msgType" data-value="{{::item.value}}">{{::item.lable}}</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a ng-click="mc.goToPageSearchMenu('1','0')" title="">BĐS cho thuê</a>
                                    <ul>
                                        <li ng-repeat="item in mc.loaiNhaDatThueMenu"><a ng-click="mc.goToPageSearchMenu('1', item.value)" ng-model="msgType" data-value="{{::item.value}}">{{::item.lable}}</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a title="">Cần mua</a>
                                    <ul>
                                        <li ng-repeat="item in mc.loaiNhaDatCanMuaMenu"><a ng-click="" ng-model="msgType" data-value="{{::item.value}}">{{::item.lable}}</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="" title="">Cần thuê</a>
                                    <ul>
                                        <li ng-repeat="item in mc.loaiNhaDatCanThueMenu"><a ng-click="" ng-model="msgType" data-value="{{::item.value}}">{{::item.lable}}</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="" title="">Tin tức</a>
                                    <ul>
                                        <li>
                                            <a href="" title="">Tin thị trường</a>
                                        </li>
                                        <li>
                                            <a href="" title="">Phân tích - Nhận định</a>
                                        </li>
                                        <li>
                                            <a href="" title="">Chính sách - Quản lý</a>
                                        </li>
                                        <li>
                                            <a href="" title="">Thông tin quy hoạch</a>
                                        </li>
                                        <li>
                                            <a href="" title="">BĐS thế giới</a>
                                        </li>
                                        <li>
                                            <a href="" title="">Tài chính - Chứng khoán - BĐS</a>
                                        </li>
                                        <li>
                                            <a href="" title="">Tư vấn luật</a>
                                        </li>
                                        <li>
                                            <a href="" title="">Lời khuyên</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="" title="">Xây dựng - Kiến trúc</a>
                                    <ul>
                                        <li>
                                            <a href="" title="">Xây dựng</a>
                                        </li>
                                        <li>
                                            <a href="" title="">Kiến trúc</a>
                                        </li>

                                    </ul>
                                </li>
                                <li>
                                    <a href="" title="">Nội - Ngoại thất</a>
                                    <ul>
                                        <li>
                                            <a href="" title="">Nội thất</a>
                                        </li>
                                        <li>
                                            <a href="" title="">Ngoại thất</a>
                                        </li>
                                        <li>
                                            <a href="" title="">Tư vấn nội thất</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="" title="">Tin khác</a>
                                    <ul>
                                        <li>
                                            <a href="" title="">Môi giới</a>
                                        </li>
                                        <li>
                                            <a href="" title="">Ứng dụng mobile</a>
                                        </li>

                                    </ul>
                                </li>
                            </ul>
                        </nav>
                        <nav class="nav-user">
                            <ul>
                                <li>
                                    <a class="link" href="#box-saved" data-open="true" title="">Lưu nhà</a>
                                </li>
                                <li>
                                    <a class="link" href="" title="">Lưu tìm kiếm</a>
                                </li>
                                <user-info-menu ></user-info-menu>
                            </ul>
                        </nav>
                    </div>
                </header><!-- //header -->
            <div class="box-filter">
                <div class="utility">
                    <div class="container">
                        <div class="row" id = "mybox">
                            <div class="col w-340">
                                <form ng-submit="goToPageSearch" method="post">
                                    <div class="search">
                                        <input type="text" placeholder="Tìm kiếm theo địa chính, địa chỉ" class="form-control" id="autocomplete"> </input>
                                        <button class="btn-search" ng-click="mc.goToPageSearch();" type="button"><i class="fa fa-search"></i> <span class="text"></span></button>

                                        
                                    </div>
                                </form>
                            </div>
                            <div class="col w-290">
                                <div class="row">
                                    <div class="col w-115">
                                        <div class="option">
                                            <select class="select" data-select="true" ng-model="mc.searchData.giaBETWEEN[0]" title="Giá từ" ng-change="mc.search()"
                                                    ng-options="price.value as price.lable for price in mc.sell_price_list_from">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col w-50">
                                        <div class="label">To</div>
                                    </div>
                                    <div class="col w-115">
                                        <div class="option">
                                            <select class="select" data-select="true" ng-model="mc.searchData.giaBETWEEN[1]" title="Giá đến" ng-change="mc.search()"
                                                    ng-options="price.value as price.lable for price in mc.sell_price_list_to">
                                                
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col w-120">
                                <div class="option">
                                    <select class="select" data-select="true" ng-model="mc.searchData.dienTichBETWEEN[0]" title="Diện tích từ" ng-change="mc.search()"
                                            ng-options="square.value as square.lable for square in mc.sell_dien_tich_list_from">
                                    </select>
                                </div>
                            </div>
                            <div class="col w-50">
                                <div class="label">To</div>
                            </div>
                            <div class="col w-120">
                                <div class="option">
                                    <select class="select" data-select="true" ng-model="mc.searchData.dienTichBETWEEN[1]" title="Diện tích đến" ng-change="mc.search()"
                                            ng-options="square.value as square.lable for square in mc.sell_dien_tich_list_to">
                                    </select>
                                </div>
                            </div>
                            <div class="col w-120">
                                <div class="handle">
                                    <a href="#filter" data-toggle-text="Bộ lọc thu gọn" data-action="more">Bộ lọc nâng cao</a>
                                </div>
                            </div>
                            <div class="col w-160">
                                <button class="btn-find" data-find="true" ng-click="mc.saveSearch();">
                                    <i class="fa fa-star"></i> <span class="text">Save search</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="filter" id="filter">
                    <form action="search.html" method="post">
                        <div class="container">
                            <div class="type">
                                <div class="row">
                                    <div class="col">
                                        <label data-action="filter" data-choice="sale" data-reset="project" data-group="filter"><input type="radio" value="for_sale" name="search_type" checked> Bán</label>
                                    </div>
                                    <div class="col">
                                        <label data-action="filter" data-choice="sold" data-reset="project" data-group="filter"><input type="radio" value="sold" name="search_type"> Đã bán</label>
                                    </div>
                                </div>
                            </div>
                            <div class="project" data-content="sale" style="display: block">
                                <div class="row">
                                    <div class="col col-25">
                                        <label><input type="checkbox" name="new_listings" value="new_listings"> Danh sách mới, Tuần trước</label>
                                    </div>
                                    <div class="col col-25">
                                        <label><input type="checkbox" name="recently_reduced" value="recently_reduced"> Giá giảm, Tuần trước</label>
                                    </div>
                                    <div class="col col-25">
                                        <label><input type="checkbox" name="new_construction" value="new_construction"> Nhà mới xây</label>
                                    </div>
                                    <div class="col col-25">
                                        <label><input type="checkbox" name="fsbo" value="fsbo"> Chính chủ</label>
                                    </div>
                                    <div class="col col-25">
                                        <label><input type="checkbox" name="resale" value="resale"> Bán lại</label>
                                    </div>
                                    <div class="col col-25">
                                        <label><input type="checkbox" name="roreclosures" value="roreclosures"> Bị tịch thu</label>
                                    </div>
                                </div>
                            </div>
                            <div class="group">
                                <div class="head">Loại bất động sản</div>
                                <div class="row">
                                    <div class="col col-25" ng-repeat="loaiNhaDat in mc.moreFilter.loaiNhaDat track by $index">
                                        <label> <input  type="checkbox" ng-change="mc.changeFilterLoaiNhaDat($index);" value="{{loaiNhaDat.value}}" ng-model="loaiNhaDat.selected"> {{loaiNhaDat.lable}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="group">
                                <div class="head">Hướng nhà</div>
                                <div class="row">
                                    <div class="col col-25" ng-repeat="huongNha in mc.moreFilter.huongNha track by $index">
                                        <label> <input ng-change="mc.changeFilterHuongNha($index);"   type="checkbox" value="{{huongNha.value}}" ng-model="huongNha.selected"> {{huongNha.lable}}</label>
                                    </div>
                                </div>
                            </div>



                            <div class="project" data-content="sale" style="display: block">
                                <div class="row">
                                    

                                    <!-- <div class="col col-25">
                                        <label>Loại BĐS <select class="select" data-select="true" ng-model="mc.searchData.loaiNhaDat" title="Loại BĐS" ng-options="loaiNhaDat.value as loaiNhaDat.lable for loaiNhaDat in mc.loaiNhaDatList">
                                        </select></label>
                                    </div> -->
                                    <div class="col col-25">
                                        <label>Số phòng ngủ <select class="select" data-select="true" ng-model="mc.moreFilter.soPhongNgu" title="Số phòng ngủ" ng-options="soPhongNgu.value as soPhongNgu.lable for soPhongNgu in mc.soPhongNguList">
                                        </select></label>
                                    </div>
                                    <div class="col col-25">
                                        <label>Số phòng tắm <select class="select" data-select="true" ng-model="mc.moreFilter.soPhongTam" title="Số phòng tắm" ng-options="soPhongTam.value as soPhongTam.lable for soPhongTam in mc.soPhongTamList">
                                        </select></label>
                                    </div>
                                    <div class="col col-25">
                                        <label>Số tầng <select class="select" data-select="true" ng-model="mc.moreFilter.soTang" title="Số tầng" ng-options="soTang.value as soTang.lable for soTang in mc.soTangList">
                                        </select></label>
                                    </div>
                                    <!-- <div class="col col-25">
                                        <label>Hướng Nhà <select class="select" data-select="true" ng-model="mc.searchData.huongNha" title="Hướng Nhà" ng-options="huongNha.value as huongNha.lable for huongNha in mc.huongNhaList">
                                        </select></label>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="handle" data-action="fix">
                            <div class="container">
                                <button type="button" ng-click="mc.filter();" class="btn-submit">Apply</button>
                                <button type="reset" class="btn-reset">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!-- //box-filter -->
            <div ng-include="mc.viewTemplateUrl"></div>
            <footer class="footer">
               <div class="footer-bot">
                   <div class="row">
                       <div class="col col-20">
                           <h3>
                               <a href="" title="">Top Thị trường BĐS Hà Nội</a>
                           </h3>
                           <ul>
                               <li>
                                   <a href="" title="">Quận Ba Đình</a>
                               </li>
                               <li>
                                   <a href="" title="">Quận Cầu Giấy</a>
                               </li>
                               <li>
                                   <a href="" title="">Quận Đống Đa</a>
                               </li>
                               <li>
                                   <a href="" title="">Quận Hà Đông</a>
                               </li>
                               <li class="hidden">
                                   <a href="" title="">Quận Hai Bà Trưng</a>
                               </li>
                               <li class="hidden">
                                   <a href="" title="">Quận Hoàn Kiếm</a>
                               </li>
                               <li class="hidden">
                                   <a href="" title="">Quận Hoàng Mai</a>
                               </li>
                               <li class="hidden">
                                   <a href="" title="">Quận Long Biên</a>
                               </li>
                               <li class="hidden">
                                   <a href="" title="">Quận Tây Hồ</a>
                               </li>
                               <li class="hidden">
                                   <a href="" title="">Quận Thanh Xuân</a>
                               </li>
                           </ul>
                           <a class="more" href="#" data-more="true" data-parent="col" title="more">Mở rộng</a>
                       </div>
                       <div class="col col-20">
                           <h3>
                               <a href="" title="">BĐS Hà Nội cần bán</a>
                           </h3>
                           <ul>
                               <li>
                                   <a href="" title="">Bán căn hộ chung cư</a>
                               </li>
                               <li>
                                   <a href="" title="">Bán nhà riêng, nhà mặt phố</a>
                               </li>
                               <li>
                                   <a href="" title="">Bán biệt thự, liền kề</a>
                               </li>
                               <li>
                                   <a href="" title="">Bán Shophouse</a>
                               </li>
                               <li class="hidden">
                                   <a href="" title="">Bán đất</a>
                               </li>
                           </ul>
                           <a class="more" href="#" data-more="true" data-parent="col" title="more">Mở rộng</a>
                       </div>
                       <div class="col col-20">
                           <h3>
                               <a href="" title="">BĐS Hà Nội cho thuê</a>
                           </h3>
                           <ul>
                               <li>
                                   <a href="" title="">Cho thuê căn hộ chung cư</a>
                               </li>
                               <li>
                                   <a href="" title="">Cho thuê nhà riêng</a>
                               </li>
                               <li>
                                   <a href="" title="">Cho thuê nhà mặt phố</a>
                               </li>
                               <li>
                                   <a href="" title="">Cho thuê nhà trọ, phòng trọ</a>
                               </li>
                               <li class="hidden">
                                   <a href="" title="">Cho thuê văn phòng</a>
                               </li>
                           </ul>
                           <a class="more" href="#" data-more="true" data-parent="col" title="more">Mở rộng</a>
                       </div>
                   </div>
                   <nav class="navigation">
                       <ul>
                           <li>
                               <a href="" title="">Giới thiệu</a>
                           </li>
                           <li>
                               <a href="" title="">Điều khoản</a>
                           </li>
                           <li>
                               <a href="" title="">Quy định đăng tin</a>
                           </li>
                           <li>
                               <a href="" title="">Báo giá đăng tin</a>
                           </li>
                           <li>
                               <a href="" title="">Những câu hỏi thường gặp (FAQs)</a>
                           </li>
                           <li>
                               <a href="" title="">Tuyển dụng</a>
                           </li>
                           <li>
                               <a href="" title="">Liên hệ</a>
                           </li>
                       </ul>
                   </nav>
                   <div class="copyright">
                       Copyright © 2016 Reway Group
                   </div>
               </div>
            </footer>
            <div class="overlay" data-overlay="true"></div>
        </div><!-- //main -->
        <div class="menu-left" id="menu-left">
            <div class="inner">
                <nav class="nav-mobile">
                    <ul>
                        <li>
                            <a href="index.html" title="Trulia">
                                <img src="asset/img/logo.png" width="455" height="92" alt="Logo"/>
                            </a>
                        </li>
                        <li>
                            <a href="" title="">
                                <span>Đăng nhập/Đăng ký</span>
                                <span>Thông tin cá nhân/Check out</span>
                            </a>
                        </li>
                        <li>
                            <a href="" title=""><i class="fa fa-home"></i> Home</a>
                        </li>
                        <li class="active">
                            <a href="" title=""><i class="fa fa-search"></i> Search</a>
                        </li>
                        <li>
                            <a href="" title=""><i class="fa fa-usd"></i> What's My Home Worth?</a>
                        </li>
                        <li>
                            <a href="" title=""><i class="fa fa-users"></i> Find an Agent</a>
                        </li>
                        <li>
                            <a href="" title=""><i class="fa fa-pie-chart"></i> Mortgage</a>
                        </li>
                        <li>
                            <a href="" title=""><i class="fa fa-comments"></i> Advice</a>
                        </li>
                        <li>
                            <a href="" title=""><i class="fa fa-info-circle"></i> Local Info</a>
                        </li>
                        <li>
                            <a href="" title=""><i class="fa fa-question"></i> Help Center</a>
                        </li>
                        <li>
                            <a href="" title=""><i class="fa fa-exchange"></i> Neighborhood Guides</a>
                        </li>
                    </ul>
                    <div class="more">Trulia Apps</div>
                    <ul class="nav-mobile">
                        <li>
                            <a href="" title=""><i class="fa fa-home"></i> Trulia Real Estate App</a>
                        </li>
                        <li>
                            <a href="" title=""><i class="fa fa-life-ring"></i> Trulia Rentals App</a>
                        </li>
                        <li>
                            <a href="" title=""><i class="fa fa-ticket"></i> Trulia Mortgage App</a>
                        </li>
                        <li>
                            <a href="" title=""><i class="fa fa-suitcase"></i> Trulia Agent App</a>
                        </li>
                    </ul>
                    <div class="more">More</div>
                    <ul class="nav-mobile">
                        <li>
                            <a href="" title="">Leave Feedback</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div><!-- //menu-left -->
        <div class="box-saved" id="box-saved">
            <ul class="nav-saved">
                <li>
                    <a class="active" href="#my-boards" data-tab="true" data-content="content" data-group="box-saved" title="My Boards">My Boards</a>
                </li>
                <li>
                    <a href="#saved-homes" data-tab="true" data-content="content" data-group="box-saved" title="Saved Homes">Saved Homes</a>
                </li>
                <li>
                    <a href="#saved-rentals" data-tab="true" data-content="content" data-group="box-saved" title="Saved Rentals">Saved Rentals</a>
                </li>
            </ul>
            <div class="content" style="display: block" id="my-boards">
                <div class="create">
                    <a href="#" title=""><i class="fa fa-plus"></i> Create Board</a>
                </div>
            </div>
            <div class="content" id="saved-homes">
                <div class="notice">
                    You haven’t added any homes yet.<br/>
                    Start searching for properties to add now.
                </div>
                <div class="handle">
                    <a href="index.html" title="Search Homes">Search Homes</a>
                </div>
            </div>
            <div class="content" id="saved-rentals">
                <div class="notice">
                    You haven’t added any homes yet.<br/>
                    Start searching for properties to add now.
                </div>
                <div class="handle">
                    <a href="index.html" title="Search Homes">Search Homes</a>
                </div>
            </div>
            <div id="loading" class="loading"></div>
        </div><!-- //box-saved -->
        <div class="box-find" id="box-find">
            <div class="data">
                <div class="title">
                    <span>Local Info</span>
                    <a href="#box-find" data-filter="close"><i class="fa fa-times"></i></a>
                </div>
                <form action="search.html" method="post">
                    <div class="head">Trulia Heatmap</div>
                    <ul class="list">
                        <li>
                            <a class="control" href="#radio_1_1" data-action="radio" data-group="group_1">Crime</a>
                            <input type="radio" id="radio_1_1" name="group_1" value="Crime"/>
                        </li>
                        <li>
                            <a class="accordion" href="#" data-accordion="true">Affordability</a>
                            <ul>
                                <li>
                                    <a class="control" href="#radio_2_1" data-action="radio" data-group="group_2">Listing Price</a>
                                    <input type="radio" id="radio_2_1" name="group_2" value="Listing Price"/>
                                </li>
                                <li>
                                    <a class="control" href="#radio_2_2" data-action="radio" data-group="group_2">Sale Price</a>
                                    <input type="radio" id="radio_2_2" name="group_2" value="Sale Price"/>
                                </li>
                                <li>
                                    <a class="control" href="#radio_2_3" data-action="radio" data-group="group_2">Sale Price/Sqft</a>
                                    <input type="radio" id="radio_2_3" name="group_2" value="Sale Price/Sqft"/>
                                </li>
                                <li>
                                    <a class="control" href="#radio_2_4" data-action="radio" data-group="group_2">Trulia Estimates</a>
                                    <input type="radio" id="radio_2_4" name="group_2" value="Trulia Estimates"/>
                                </li>
                                <li>
                                    <a class="control" href="#radio_2_5" data-action="radio" data-group="group_2">Rental Price</a>
                                    <input type="radio" id="radio_2_5" name="group_2" value="Rental Price"/>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="accordion" href="#" data-accordion="true">Hazards</a>
                            <ul>
                                <li>
                                    <a class="control" href="#radio_3_1" data-action="radio" data-group="group_3">Earthquake</a>
                                    <input type="radio" id="radio_3_1" name="group_3" value="Earthquake"/>
                                </li>
                                <li>
                                    <a class="control" href="#radio_3_2" data-action="radio" data-group="group_3">Flooding</a>
                                    <input type="radio" id="radio_3_2" name="group_3" value="Flooding"/>
                                </li>
                                <li>
                                    <a class="control" href="#radio_3_3" data-action="radio" data-group="group_3">Tornado</a>
                                    <input type="radio" id="radio_3_3" name="group_3" value="Tornado"/>
                                </li>
                                <li>
                                    <a class="control" href="#radio_3_4" data-action="radio" data-group="group_3">Hurricane</a>
                                    <input type="radio" id="radio_3_4" name="group_3" value="Hurricane"/>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="head">More</div>
                    <ul class="list">
                        <li>
                            <a class="accordion" href="#" data-accordion="true">Schools</a>
                            <ul>
                                <li>
                                    <a class="control" href="#check_1_1" data-action="check">Elementary</a>
                                    <input type="checkbox" id="check_1_1" name="check_1_1" value="Elementary"/>
                                </li>
                                <li>
                                    <a class="control" href="#check_1_2" data-action="check">Middle</a>
                                    <input type="checkbox" id="check_1_2" name="check_1_2" value="Middle"/>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="accordion" href="#" data-accordion="true">Amenities</a>
                            <ul>
                                <li>
                                    <a class="control" href="#check_2_1" data-action="check">Restaurants</a>
                                    <input type="checkbox" id="check_2_1" name="check_2_1" value="Restaurants"/>
                                </li>
                                <li>
                                    <a class="control" href="#check_2_2" data-action="check">Groceries</a>
                                    <input type="checkbox" id="check_2_2" name="check_2_2" value="Groceries"/>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </form>
            </div>
            <nav class="nav">
                <ul>
                    <li>
                        <a href="#box-find" data-filter="close" title="Reset">Reset</a>
                    </li>
                    <li>
                        <a href="#box-find" data-action="apply" title="Apply">Apply</a>
                    </li>
                </ul>
            </nav>
        </div><!-- //box-find -->
        <login-form loginbox="$root.loginbox"></login-form>
    </div><!-- //wrapper -->
	 <!-- <script src="asset/js/common.min.js"></script>     -->
    <!-- <script src="/web/dist/vendor.bundle.js"></script>
    <script src="/web/dist/app.bundle.js"></script> -->
</body>


