<section class="box-search">
                <div class="row">
                    <div class="col col-60">
                        <div class="map is-fixed" bds-data-map="true" id="google-map">

                            <ng-map center="{{center}}" zoom-to-include-markers="{{mc.zoomMode}}" custom-zoom-to-include-markers="{{mc.zoomMode}}" class="ngmap">
                            <!-- <ng-map zoom="11" id="searchmap" center="Danang Vietnam" class="ngmap"> -->
                                <custom-marker  ng-repeat="m in markers track by $index" position="[{{m.coords.latitude}},{{m.coords.longitude}}]" on-mouseover="mc.mouseover({{$index}})" on-mouseout="mc.mouseout()" on-click="mc.goDetail({{$index}});"
                                     id="m_{{$index}}" >
                                  <div class = "my1">
                                    {{m.content}} 
                                  </div>
                                </custom-marker>
                                <!-- <marker ng-repeat="m in markers track by $index" id = "{{mc.ads_list[$index].adsID}}" position="[{{m.coords.latitude}},{{m.coords.longitude}}]" on-mouseover="mc.mouseover({{$index}})" on-mouseout="mc.mouseout()"
                                    on-click="mc.click({{$index}})"> -->
                                    
                                <street-view-panorama
                                  click-to-go="false"
                                  disable-default-u-i="false"
                                  disable-double-click-zoom="false"
                                  pov="{heading: heading, pitch: pitch}"
                                  scrollwheel="false"
                                  enable-close-button="true"
                                  visible="false">
                                </street-view-panorama>    
                                <!-- </marker> -->

                                <info-window id="iw">
                                    <div ng-non-bindable="" class="row" style="cursor: pointer;" ng-click="mc.goDetailHighlight();">
                                            <div class="col col-50" >
                                                <div class="media" style="background-image: url({{mc.highlightAds.image.cover}});height: 100px;"></div>
                                            </div>
                                            <div class="col col-50">
                                                <div class="price">{{mc.highlightAds.giaFmt}} {{mc.highlightAds.dienTichFmt}}</div>
                                                <div class="info">{{mc.highlightAds.ten_loaiNhaDat}} {{mc.highlightAds.soTangFmt}} {{mc.highlightAds.soPhongNguFmt}}</div>
                                                <div class="info"></div>
                                                <div class="info">{{mc.highlightAds.huongNha}}</div>
                                                <div class="info">{{mc.highlightAds.diaChi | limitTo: 20 }}
                                                    <span ng-if="mc.highlightAds.diaChi.length > 20">&hellip;</span>
                                                </div>
                                                
                                                <img style="margin-left: 10px; cursor: pointer;" ng-if="mc.highlightAds.streetviewLatLng" ng-click="mc.showStreetView($event);" src="asset/img/street-view-icon.png">
                                                

                                            </div>
                                    </div>
                                </info-window>

                                <!-- <info-window ng-repeat="m in markers track by $index" id="{{$index}}">
                                    <div ng-non-bindable="">
                                        id: {{$index}}<br/>
                                        name: {{mc.highlightAds.name}}<br/>

                                        <a href="#">Click Here</a>
                                    </div>
                                </info-window> -->
                            </ng-map>    
                        </div>

                        <nav class="nav sp">
                            <ul>
                                <li>
                                    <a href="#box-find" data-filter="open" title="Local Info">Local Info</a>
                                </li>
                                <li>
                                    <a href="#" title="">Save Search</a>
                                </li>
                                <li>
                                    <a href="#" title="">List</a>
                                </li>
                            </ul>
                        </nav>
                        <div class="pc">&nbsp;</div>
                    </div>
                    <div class="col col-40">
                        <div class="block-04">
                            <div class="item">
                                <div class="row">
                                    <div class="col col-50">
                                        <a class="media" href="#" title="">
                                            <span class="img" style="background: url(asset/img/data/img-50.jpg)">Lennar New Homes</span>
                                        </a>
                                    </div>
                                    <div class="col col-50">
                                        <h3>
                                            <a href="#" title="">Lennar New Homes</a>
                                        </h3>
                                        <p>Building where you want to live! From the mid-$200's</p>
                                        <a class="btn-more" href="" title="">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div><!-- //block-04 -->
                        <div class="block-05">
                            <h2 class="head">Tổng số {{mc.totalResultCounts}} nhà</h2>
                            <div class="handle">
                                <div class="filter">
                                    <div class="label">Sắp xếp: </div>
                                    <div class="option">
                                        <select class="select" ng-change="mc.searchPage(1);" title="Sắp xếp" ng-model="mc.searchData.orderBy"  ng-options="sort.value as sort.lable for sort in mc.sortOptions" >
                                        </select>
                                    </div>
                                </div>
                                <div class="group">
                                    <a href="" ng-click="mc.showList()" title="">Danh sách</a>
                                    <a href="" ng-click="mc.showMap()" title="">Bản đồ</a>
                                </div>
                            </div>
                            <div class="row">

                                <div ng-repeat="ads in mc.ads_list track by $index" class="col col-50" ng-mouseover="mc.showDetail($index)" ng-click="mc.goDetail($event,$index)" ng-mouseout="mc.hideDetail();">
                                    <div class="item">
                                        <a class="link" href="" title="" >
                                            <span class="img" style="background-image: url({{ads.image.cover}})"></span>
                                            <span class="info"  >
                                                <span class="line"><span class="price">{{ads.giaFmt}}</span> <span>{{ads.dienTichFmt}} {{ads.soTangFmt}} {{ads.soPhongNguFmt}}</span></span>
                                                <span class="line">{{ads.place.diaChi}}</span>
                                            </span>
                                        </a>
                                        <h3>
                                            <img src="/web/asset/img/nhaCanBanGap.png" style="max-height: 80px; max-width: 80px;margin-top:5px;">
                                            <img src="/web/asset/img/nhaChinhChu.png" style="max-height: 80px; max-width: 80px;margin-top:5px;">
                                            <img src="/web/asset/img/nhaMoiGiamGia.png" style="max-height: 80px; max-width: 80px;margin-top:5px;">
                                        </h3>
                                        <a class="like" ng-click="mc.likeAds($index); $event.stopPropagation();" data-like="true" href="" title=""><span>Like</span></a>
                                    </div>
                                </div>
                            </div>
                        </div><!-- //block-05 -->
                        <div class="block-06">
                            <div class="stats">{{mc.currentPageStart}} – {{mc.currentPageEnd}} của {{mc.totalResultCounts}} kết quả</div>
                            <ul>
                                <li ng-if="mc.currentPage != 1" ng-click="mc.firstPage()">
                                    <span>Trang đầu</span>
                                </li>
                                <li ng-if="mc.currentPage != 1" ng-click="mc.previousPage()">
                                    <span>Trang trước</span>
                                </li>
                                <li ng-if="mc.currentPage < mc.lastPageNo" ng-click="mc.nextPage()">
                                    <a href="" title="">Trang sau</a>
                                </li>
                                <li ng-if="mc.currentPage < mc.lastPageNo" ng-click="mc.lastPage()">
                                    <a href="" title="">Trang cuối</a>
                                </li>
                            </ul>
                        </div>
                        <div class="block-07">
                            <bds-dia-chinh-link diachinh="mc.diaChinh" loaitin="mc.loaiTin" loainhadat="mc.loaiNhaDat" viewmode="mc.viewMode"></bds-dia-chinh-link>                            
                        </div>
                    </div>
                </div>
            </section><!-- //box-search -->